<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Products</title>
    <link rel="stylesheet" href="/css/home_page.css">
    <link rel="stylesheet" href="/css/admin_product.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="themify-icons.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Muli:400,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

</head>

<body>
    <%- include('SideBarAdmin') -%>

     <!-- Products -->

    <div class="container admin_products">
        <%- include('FilterProduct') -%>
        <div class="row gx-7">
            <% for(let i = 0; i < productList.length; i++){ %>
                <div class="col-3 col-xl-3 gy-5">
                    <div class="product">
                        <div class="product_image">
                            <img src="https://cdn.shopify.com/s/files/1/1238/5608/files/Thruster_TK_TTY_Badminton_Racket_Frame_large.jpg?v=1698420705" 
                            alt="Victor Thruster TK-TTY A Tai Tzu Ying Signature Badminton Racket">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" 
                            aria-hidden="true" role="presentation" focusable="false">
                            <path d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 
                            6.98 0 0 0 2 11c0 7 7 12.27 14 17z"></path></svg>
                            <div class="product_info_1_rate">
                                <div class="star-icon">&#9733;</div>
                                <span>4.88</span>
    
                            </div>
                        </div>
                        <div class="product_info_1">
                            <span><%= productList[i].name %></span>
                        </div>
                        <div class="product_info_2">
                            <span><%= productList[i].description %></span>
                            <span><%= productList[i].manufacturer %></span>
                            <div class="product_info_2_price">
                                <span class="product_info_2_dollar">$<%= productList[i].price %></span>   
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>

</html>