<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assetsCart/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container row">
        <div class="col-8 list-product">
            <div class="discription-freeship">
                Buy
                <span>$79.85</span>
                more to get
                <span>freeship</span>
            </div>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="40" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 40%"></div>
            </div>
            <table class="table list-product">

                <thead>
                    <tr>
                        <th class="header" scope="col"> </th>
                        <th class="header" scope="col"> Product</th>
                        <th class="header" scope="col"> Price</th>
                        <th class="header" scope="col">Quantity</th>
                        <th class="header" scope="col">Subtotal</th>
                        <th class="header" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < cart.length; i++) { %>
                    <tr>
                        <td>
                            <div class="product-thumbnail">
                                <img src="<%= cart[i].product.thumbnail %>" alt="">
                            </div>
                        </td>
                        <td class="name-product">

                            <%= cart[i].product.name %>

                        </td>

                        <td class="price-product"><%= cart[i].product.price %></td>
                        <td class="quantity-product">
                            <div class="inner-quantity">
                                <input type="number" id="quantity_656a9f77e7b22" class="input-text qty text" step="1"
                                    min="0" name="" value="<%= cart[i].quantity %>" title="Qty" placeholder="" inputmode="numeric" disabled>
                            </div>
                        </td>

                        <td class="sub-total"><%= cart[i].quantity*cart[i].product.price %>  </td>

                    </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="wrapper">
                <div class="wrapper-apply-coupon">
                
                    <input type="text" class="input-coupon-code" placeholder="Coupon code">
                    <button class="apply-coupon">apply coupon</button>
                  
                </div>
            </div>
            
        </div>
        <div class="col-4 cart-total">
            <h2>Cart Totals</h2>
            <div class="sub-total">
                <div class="text">Subtotal</div>
                <div class="price">$ <%= subTotal %></div>
            </div>
            <div class="shipping">
                <div class="text">Shipping</div>
                <div class="information">
                    <div class="flat-rate">
                        <div class="text-flat-rate">Flat rate: </div>
                        <div class="price-flat-rate">$0.00</div>
                    </div>
                    <div class="place-ship">
                        <div class="text-place-ship">Shipping to </div>
                        <div class="place-place-ship"> CA</div>
                    </div>
                </div>
            </div>
            <div class="Total">
                <div class="text">Total</div>
                <div class="price">$ <%= subTotal %>
                </div>
            </div>
            <button class="proceed-checkout" id = "checkout_button">
                PROCEED TO CHECKOUT
            </button>
        </div>

    </div>

    <script>
        const checkout_button = document.getElementById("checkout_button")
        checkout_button.addEventListener("click" , function (){
            window.location.href = "/user/check-out";
        })
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>