<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assetsDetailProduct/style.css">
    <link rel="stylesheet" href="/assetsDetailProduct/card.css">

    <link rel="stylesheet" href="/css/pagination.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="alert alert-success  text-center align-items-center">
        Review had added.
    </div>

    <div class="container">
        <div class="main-product row">
            <div class="col-6">
                <div class="img-main-product">
                    <img class="main-img" src="<%= productInfo.thumbnail %>" alt="">

                </div>
                <ul class="list-image">
                    <li><img src="<%= productInfo.thumbnail %>" alt=""></li>
                    <div class="wrapper-left-btn">
                        <button class="btn-left-arrow"> <img width="20" height="20"
                                src="https://img.icons8.com/material/20/less-than--v1.png" alt="less-than--v1" />
                        </button>
                    </div>

                    <div class="wrapper-right-btn">
                        <button class="btn-right-arrow"><img width="20" height="20"
                                src="https://img.icons8.com/material-outlined/20/more-than.png" alt="more-than" />
                        </button>
                    </div>
                    <% for(let i=0; i < productInfo.gallery.length; i++){ %>
                        <li><img src="<%= productInfo.gallery[i] %>" alt=""></li>

                        <!-- <li><img src="<%= productInfo.gallery[1] %>" alt=""></li>
                        <li><img src="<%= productInfo.gallery[2] %>" alt=""></li>
                        <li><img src="<%= productInfo.gallery[3] %>" alt=""></li> -->
                        <% } %>


                </ul>
            </div>

            <div class="col-6 description-product">
                <div class="category-product">
                    <%= productInfo.catalogName %>
                </div>
                <div class="header-product">
                    <%= productInfo.name %>
                </div>
                <div class="num-review">
                    <div class="rating">

                        <!-- <input type="radio" id="star-5" name="rating" value="5" checked>
                        <label for="star-5"></label>
                        <input type="radio" id="star-4" name="rating" value="4">
                        <label for="star-4"></label>
                        <input type="radio" id="star-3" name="rating" value="3">
                        <label for="star-3"></label>
                        <input type="radio" id="star-2" name="rating" value="2">
                        <label for="star-2"></label>
                        <input type="radio" id="star-1" name="rating" value="1">
                        <label for="star-1"></label> -->
                        <% for(let k=5; k>= 1; k--) { %>
                            <% if ((productInfo.rating).toFixed(0)>= k) { %>
                                <div class="star-<%= k %> active"></div>
                                <% } else { %>
                                    <div class="star-<%= k %>"></div>
                                    <% } %>
                                        <% } %>
                    </div>
                    <div class="number-review">
                        ( <%= reviews.totalDocs %> Customer Reviews)
                    </div>

                </div>
                <div class="wrapper-price-product">
                    <div class="price-product-current"></div>

                    <div class="price-product-origin">
                        <%= productInfo.price %>
                    </div>

                    <div class="percent-discount">
                        <%= productInfo.discount %>
                    </div>
                </div>

                <div class="description-product">
                    The garments labelled as Committed are products that have been produced using sustainable fibres or
                    processes, reducing their environmental impact.
                </div>
                <div class="wrapper-select-num-product">
                    <div class="adjust-num-product">

                        <span class="minus">-</span>
                        <span class="num">1</span>
                        <span class="plus">+</span>


                    </div>
                    <button class="add-to-cart">
                        ADD TO CART
                    </button>
                </div>

                <div class="share-products">Share Products:
                    <ul class="themesflat-socials">
                        <li class="facebook">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://zunzowp.themesflat.com/product/brooks-mens-launch-9-road-running-shoes/"
                                target="_blank" rel="alternate" title="facebook">
                                <i class="icon-facebook-f">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16px"
                                        height="16px">
                                        <path
                                            d="M 19.253906 2 C 15.311906 2 13 4.0821719 13 8.8261719 L 13 13 L 8 13 L 8 18 L 13 18 L 13 30 L 18 30 L 18 18 L 22 18 L 23 13 L 18 13 L 18 9.671875 C 18 7.884875 18.582766 7 20.259766 7 L 23 7 L 23 2.2050781 C 22.526 2.1410781 21.144906 2 19.253906 2 z" />
                                    </svg>
                                </i>
                            </a>
                        </li>
                        <li class="instagram">
                            <a href="https://www.instagram.com/?url=https://zunzowp.themesflat.com/product/brooks-mens-launch-9-road-running-shoes/"
                                target="_blank" rel="alternate" title="instagram">
                                <i class="icon-instagram">

                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="16px"
                                        height="16px">
                                        <path
                                            d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z" />
                                    </svg>
                                </i>
                            </a>
                        </li>
                        <li class="youtube">
                            <a href="https://zunzowp.themesflat.com/product/brooks-mens-launch-9-road-running-shoes/"
                                target="_blank" rel="alternate" title="youtube">
                                <i class="icon-youtube"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"
                                        width="16px" height="16px">
                                        <path
                                            d="M 15 4 C 10.814 4 5.3808594 5.0488281 5.3808594 5.0488281 L 5.3671875 5.0644531 C 3.4606632 5.3693645 2 7.0076245 2 9 L 2 15 L 2 15.001953 L 2 21 L 2 21.001953 A 4 4 0 0 0 5.3769531 24.945312 L 5.3808594 24.951172 C 5.3808594 24.951172 10.814 26.001953 15 26.001953 C 19.186 26.001953 24.619141 24.951172 24.619141 24.951172 L 24.621094 24.949219 A 4 4 0 0 0 28 21.001953 L 28 21 L 28 15.001953 L 28 15 L 28 9 A 4 4 0 0 0 24.623047 5.0546875 L 24.619141 5.0488281 C 24.619141 5.0488281 19.186 4 15 4 z M 12 10.398438 L 20 15 L 12 19.601562 L 12 10.398438 z" />
                                    </svg></i>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="https://twitter.com/intent/tweet?url=https://zunzowp.themesflat.com/product/brooks-mens-launch-9-road-running-shoes/"
                                target="_blank" rel="alternate" title="twitter">
                                <i class="icon-twitter">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="16px"
                                        height="16px">
                                        <path
                                            d="M28,6.937c-0.957,0.425-1.985,0.711-3.064,0.84c1.102-0.66,1.947-1.705,2.345-2.951c-1.03,0.611-2.172,1.055-3.388,1.295 c-0.973-1.037-2.359-1.685-3.893-1.685c-2.946,0-5.334,2.389-5.334,5.334c0,0.418,0.048,0.826,0.138,1.215 c-4.433-0.222-8.363-2.346-10.995-5.574C3.351,6.199,3.088,7.115,3.088,8.094c0,1.85,0.941,3.483,2.372,4.439 c-0.874-0.028-1.697-0.268-2.416-0.667c0,0.023,0,0.044,0,0.067c0,2.585,1.838,4.741,4.279,5.23 c-0.447,0.122-0.919,0.187-1.406,0.187c-0.343,0-0.678-0.034-1.003-0.095c0.679,2.119,2.649,3.662,4.983,3.705 c-1.825,1.431-4.125,2.284-6.625,2.284c-0.43,0-0.855-0.025-1.273-0.075c2.361,1.513,5.164,2.396,8.177,2.396 c9.812,0,15.176-8.128,15.176-15.177c0-0.231-0.005-0.461-0.015-0.69C26.38,8.945,27.285,8.006,28,6.937z" />
                                    </svg>

                                </i>
                            </a>
                        </li>
                        <li class="pinterest">
                            <a href="https://pinterest.com/pin/create/bookmarklet/?url=https://zunzowp.themesflat.com/product/brooks-mens-launch-9-road-running-shoes/"
                                target="_blank" rel="alternate" title="pinterest">
                                <i class="icon-pinterest-p">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16px"
                                        height="16px">
                                        <path
                                            d="M 16.09375 4 C 11.01675 4 6 7.3833281 6 12.861328 C 6 16.344328 7.9584844 18.324219 9.1464844 18.324219 C 9.6364844 18.324219 9.9199219 16.958266 9.9199219 16.572266 C 9.9199219 16.112266 8.7460938 15.131797 8.7460938 13.216797 C 8.7460938 9.2387969 11.774359 6.4199219 15.693359 6.4199219 C 19.063359 6.4199219 21.556641 8.3335625 21.556641 11.851562 C 21.556641 14.478563 20.501891 19.40625 17.087891 19.40625 C 15.855891 19.40625 14.802734 18.516234 14.802734 17.240234 C 14.802734 15.370234 16 13.558906 16 11.628906 C 16 8.3529063 11.462891 8.94725 11.462891 12.90625 C 11.462891 13.73725 11.5665 14.657063 11.9375 15.414062 C 11.2555 18.353063 10 23.037406 10 26.066406 C 10 27.001406 10.133656 27.921422 10.222656 28.857422 C 10.390656 29.045422 10.307453 29.025641 10.564453 28.931641 C 13.058453 25.517641 12.827078 24.544172 13.955078 20.076172 C 14.564078 21.234172 16.137766 21.857422 17.384766 21.857422 C 22.639766 21.857422 25 16.736141 25 12.119141 C 25 7.2061406 20.75475 4 16.09375 4 z" />
                                    </svg>
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="preferences">
                    <div class="header-preference">
                        Get it Today
                    </div>
                    <div class="preference">
                        <svg xmlns="http://www.w3.org/2000/svg" width="61" height="60" viewBox="0 0 61 60" fill="none">
                            <path
                                d="M48.2921 22.4885H44.7245L45.7994 10.0742C45.8014 10.0517 45.8018 10.0296 45.8019 10.0074C45.8019 10.0055 45.8021 10.0037 45.8021 10.0019C45.8021 10.0015 45.8021 10.0013 45.8021 10.001C45.8021 9.66308 45.5994 9.36527 45.3016 9.23579C45.2991 9.23468 45.2966 9.23335 45.2941 9.23223C45.2756 9.22444 45.2565 9.21776 45.2372 9.2113C45.23 9.20896 45.2231 9.20607 45.2159 9.20384C45.2002 9.19906 45.1841 9.19527 45.168 9.19137C45.1567 9.1887 45.1459 9.18547 45.1345 9.18325C45.1204 9.18046 45.1058 9.17868 45.0914 9.17657C45.0779 9.17456 45.0646 9.17223 45.051 9.171C45.0487 9.17078 45.0466 9.17033 45.0443 9.17011C45.0297 9.16877 45.0153 9.169 45.0008 9.16844C44.991 9.16811 44.9815 9.16699 44.9718 9.16699H44.9614C44.9605 9.16699 44.9596 9.16699 44.9588 9.16699H27.9841C27.5259 9.16699 27.154 9.54106 27.154 10.002C27.154 10.4618 27.5259 10.8369 27.9841 10.8369H44.067L42.415 29.9161C42.4148 29.9176 42.4148 29.919 42.4146 29.9204L41.9978 34.7345H13.1542L13.6367 29.7248H19.1286C19.5871 29.7248 19.9587 29.351 19.9587 28.8899C19.9587 28.4287 19.5871 28.0549 19.1286 28.0549H13.7976L14.8163 17.4791H23.557C24.0156 17.4791 24.3871 17.1053 24.3871 16.6441C24.3871 16.183 24.0156 15.8092 23.557 15.8092H14.9772L15.4562 10.8369H24.6638C25.1209 10.8369 25.4939 10.4618 25.4939 10.002C25.4939 9.54106 25.1209 9.16699 24.6638 9.16699H14.7028C14.7024 9.16699 14.702 9.1671 14.7016 9.1671C14.3117 9.16699 13.9735 9.44309 13.8917 9.82584C13.8911 9.82863 13.8901 9.8313 13.8896 9.83408C13.8854 9.8549 13.8826 9.87616 13.8798 9.89754C13.879 9.90433 13.8776 9.91079 13.8769 9.91758C13.8768 9.91891 13.8765 9.92014 13.8764 9.92147L13.3093 15.8092H3.24659C2.78805 15.8092 2.4165 16.183 2.4165 16.6441C2.4165 17.1053 2.78805 17.4791 3.24659 17.4791H13.1483L12.1297 28.0549H9.16805C8.70952 28.0549 8.33797 28.4287 8.33797 28.8899C8.33797 29.351 8.70952 29.7248 9.16805 29.7248H11.9689L11.4141 35.4829C11.414 35.4838 11.414 35.4847 11.4139 35.4855L10.5563 44.3895C10.5562 44.3905 10.5561 44.3917 10.556 44.3926L10.5556 44.3958C10.5545 44.4074 10.5546 44.4187 10.554 44.4303C10.5532 44.4457 10.5516 44.4607 10.5516 44.4763C10.5516 44.4769 10.5517 44.4776 10.5517 44.4784C10.5517 44.4999 10.5533 44.521 10.5548 44.5422C10.5555 44.549 10.5553 44.5559 10.5561 44.5626C10.5583 44.5842 10.5619 44.6054 10.5658 44.6266C10.5669 44.6328 10.5675 44.6391 10.5687 44.6453C10.5719 44.6613 10.5764 44.6768 10.5806 44.6925C10.5835 44.7035 10.5858 44.7147 10.5892 44.7255C10.5901 44.7285 10.5915 44.7314 10.5924 44.7346C10.6325 44.8588 10.7007 44.9704 10.7897 45.0614C10.7914 45.0631 10.7927 45.065 10.7943 45.0665C10.8032 45.0755 10.8128 45.0835 10.8221 45.0919C10.8793 45.1447 10.944 45.1895 11.0147 45.2245C11.0294 45.2319 11.0439 45.2396 11.059 45.2459C11.0635 45.2479 11.0684 45.2492 11.073 45.251C11.0938 45.2594 11.1148 45.2674 11.1363 45.2742C11.1383 45.2747 11.1402 45.2751 11.1422 45.2757C11.1668 45.2831 11.1916 45.2895 11.2169 45.2948C11.2202 45.2954 11.2237 45.2957 11.2269 45.2963C11.251 45.3009 11.2752 45.3048 11.2999 45.3072C11.3005 45.3072 11.3009 45.3074 11.3015 45.3075C11.3287 45.3101 11.3557 45.3115 11.3825 45.3115C11.3828 45.3115 11.3833 45.3114 11.3837 45.3114H15.079C15.4871 48.4234 18.1395 50.8337 21.343 50.8337C24.5464 50.8337 27.1987 48.4234 27.6068 45.3114H40.9212C41.3294 48.4234 43.9817 50.8337 47.1851 50.8337C50.3885 50.8337 53.0411 48.4234 53.4492 45.3114H57.1454C57.146 45.3114 57.1466 45.3115 57.1472 45.3115C57.1749 45.3115 57.2021 45.3098 57.2291 45.3071C57.234 45.3067 57.2386 45.3057 57.2435 45.3051C57.2651 45.3026 57.2865 45.2996 57.3076 45.2953C57.3166 45.2935 57.3254 45.2911 57.3344 45.289C57.3506 45.2852 57.367 45.2812 57.3829 45.2764C57.3938 45.2732 57.4043 45.2694 57.4149 45.2657C57.4285 45.261 57.4422 45.2561 57.4555 45.2507C57.4671 45.2461 57.478 45.2411 57.4892 45.2361C57.5014 45.2304 57.5135 45.2246 57.5254 45.2185C57.5367 45.2127 57.5475 45.2067 57.5584 45.2005C57.5698 45.1938 57.5811 45.1869 57.5922 45.1798C57.6026 45.1731 57.613 45.1663 57.623 45.1592C57.6343 45.1513 57.645 45.1429 57.656 45.1345C57.6651 45.1272 57.6742 45.1201 57.6831 45.1125C57.6945 45.1028 57.7052 45.0927 57.7161 45.0824C57.7236 45.0751 57.7315 45.068 57.7388 45.0604C57.7503 45.0486 57.7612 45.0361 57.7722 45.0236C57.7781 45.0168 57.7841 45.0102 57.7898 45.0033C57.802 44.9882 57.813 44.9726 57.8241 44.9569C57.8279 44.9514 57.8321 44.9463 57.8357 44.9407C57.8492 44.9204 57.862 44.8994 57.8737 44.8778C57.8746 44.8765 57.8755 44.8753 57.876 44.8738C57.8885 44.8507 57.9 44.827 57.9103 44.8025C57.9132 44.7955 57.9154 44.7882 57.9182 44.7812C57.9249 44.764 57.9316 44.7467 57.9372 44.7288C57.9409 44.7172 57.9435 44.7053 57.9467 44.6936C57.9504 44.6797 57.9543 44.6659 57.9574 44.6517C57.9601 44.6391 57.9619 44.6262 57.964 44.6134C57.9659 44.6022 57.9683 44.5912 57.9698 44.5797C58.005 44.296 58.655 39.0503 58.9453 35.6583C58.9456 35.655 58.9457 35.6517 58.946 35.6485C59.0296 34.6707 59.0832 33.8473 59.0832 33.3432C59.0832 27.358 54.2424 22.4885 48.2921 22.4885ZM44.5799 24.1587H47.9758L47.5421 29.1681H44.1461L44.5799 24.1587ZM21.3432 49.1636C18.7736 49.1636 16.6832 47.0608 16.6832 44.4762C16.6832 41.8915 18.7738 39.7887 21.3432 39.7887C23.9127 39.7887 26.0032 41.8915 26.0032 44.4762C26.0032 47.0608 23.9127 49.1636 21.3432 49.1636ZM47.1851 49.1636C44.6156 49.1636 42.5253 47.0608 42.5253 44.4762C42.5253 41.8915 44.6157 39.7887 47.1851 39.7887C49.7547 39.7887 51.8452 41.8915 51.8452 44.4762C51.8452 47.0608 49.7547 49.1636 47.1851 49.1636ZM56.412 43.6409H53.4495C53.0415 40.5286 50.389 38.1182 47.1853 38.1182C43.9819 38.1182 41.3294 40.5287 40.9214 43.6409H27.6072C27.1992 40.5286 24.5468 38.1182 21.3432 38.1182C18.1397 38.1182 15.4871 40.5287 15.0791 43.6409H12.2962L12.9934 36.404H42.7585V36.4044C42.7589 36.4044 42.7592 36.4044 42.7597 36.4044C42.7875 36.4044 42.815 36.4029 42.8422 36.4001C42.8473 36.3996 42.8523 36.3985 42.8574 36.3978C42.8791 36.3953 42.9007 36.3922 42.9219 36.3879C42.9311 36.386 42.9401 36.3835 42.9492 36.3813C42.9658 36.3772 42.9824 36.3734 42.9985 36.3685C43.0096 36.3651 43.0201 36.3611 43.0308 36.3573C43.0448 36.3524 43.0587 36.3476 43.0722 36.3421C43.0839 36.3373 43.095 36.3319 43.1063 36.3266C43.1186 36.3209 43.1309 36.3152 43.1427 36.309C43.154 36.303 43.1651 36.2965 43.1763 36.2901C43.1877 36.2834 43.199 36.2766 43.21 36.2695C43.2208 36.2625 43.2309 36.2551 43.2412 36.2478C43.2522 36.24 43.2628 36.232 43.2734 36.2236C43.283 36.2159 43.2924 36.208 43.3017 36.1999C43.3122 36.1908 43.3225 36.1814 43.3324 36.1717C43.3408 36.1636 43.3493 36.1553 43.3574 36.1467C43.3674 36.1362 43.377 36.1254 43.3866 36.1144C43.394 36.1057 43.4013 36.097 43.4084 36.0881C43.4175 36.0764 43.4263 36.0644 43.4349 36.0523C43.4414 36.0431 43.4478 36.034 43.454 36.0247C43.462 36.0121 43.4698 35.9992 43.4772 35.986C43.4828 35.9762 43.4886 35.9664 43.4937 35.9564C43.5007 35.9433 43.5066 35.9299 43.5129 35.9165C43.5178 35.9057 43.5228 35.8951 43.5272 35.8839C43.5326 35.8708 43.5372 35.8573 43.5419 35.8439C43.546 35.832 43.5504 35.82 43.554 35.8078C43.5577 35.7949 43.5606 35.7816 43.564 35.7685C43.5672 35.7552 43.5707 35.7421 43.5733 35.7286C43.5758 35.7155 43.5774 35.7021 43.5794 35.6888C43.5813 35.675 43.5837 35.6614 43.585 35.6474C43.5852 35.6454 43.5857 35.6435 43.5858 35.6415L44.0018 30.8376H48.2919C50.8352 30.8376 51.9822 32.1631 53.1965 33.5665C54.1984 34.7244 55.317 36.0164 57.2185 36.3316C56.977 38.9 56.5866 42.1971 56.412 43.6409ZM57.3604 34.6583C56.1269 34.4054 55.3679 33.5331 54.4485 32.4706C53.2987 31.1418 51.895 29.5203 49.2041 29.2182L49.6335 24.2587C54.0345 24.9134 57.423 28.7373 57.423 33.3434C57.423 33.6563 57.3998 34.111 57.3604 34.6583Z"
                                fill="#121212" stroke="#121212" stroke-width="0.3"></path>
                            <path
                                d="M18.7998 44.4756C18.7998 43.0608 19.9441 41.9141 21.3434 41.9141C22.7427 41.9141 23.8871 43.0609 23.8871 44.4756C23.8871 45.8905 22.7427 47.0372 21.3434 47.0372C19.9441 47.0372 18.7998 45.8905 18.7998 44.4756ZM19.46 44.4756C19.46 45.5164 20.3016 46.3673 21.3434 46.3673C22.3851 46.3673 23.2269 45.5164 23.2269 44.4756C23.2269 43.4349 22.3852 42.584 21.3434 42.584C20.3016 42.584 19.46 43.4349 19.46 44.4756Z"
                                fill="#121212" stroke="#121212"></path>
                            <path
                                d="M44.6421 44.4756C44.6421 43.0608 45.7864 41.9141 47.1857 41.9141C48.585 41.9141 49.7293 43.0609 49.7293 44.4756C49.7293 45.8905 48.585 47.0372 47.1857 47.0372C45.7864 47.0372 44.6421 45.8905 44.6421 44.4756ZM45.3023 44.4756C45.3023 45.5164 46.1439 46.3673 47.1857 46.3673C48.2275 46.3673 49.0692 45.5164 49.0692 44.4756C49.0692 43.4349 48.2275 42.584 47.1857 42.584C46.1439 42.584 45.3023 43.4349 45.3023 44.4756Z"
                                fill="#121212" stroke="#121212"></path>
                            <path
                                d="M10.2749 22.4883H6.2168C5.75826 22.4883 5.38672 22.8621 5.38672 23.3233C5.38672 23.7844 5.75826 24.1582 6.2168 24.1582H10.2749C10.7334 24.1582 11.105 23.7844 11.105 23.3233C11.105 22.8621 10.7334 22.4883 10.2749 22.4883Z"
                                fill="#121212" stroke="#121212" stroke-width="0.3"></path>
                        </svg>

                        <div class="wrapper-preference">
                            <div class="text-header-service">Free shipping</div>
                            <div class="text-sub-service">
                                Free shipping on orders over 2.000.000 VNĐ.
                            </div>
                        </div>
                    </div>
                    <div class="preference"><svg xmlns="http://www.w3.org/2000/svg" width="61" height="60"
                            viewBox="0 0 61 60" fill="none">
                            <path
                                d="M40.7502 47.7771H7.03016C5.40572 47.7771 4.0835 46.4549 4.0835 44.8305V17.7771C4.0835 17.1638 4.58127 16.666 5.19461 16.666H47.4168C48.0302 16.666 48.5279 17.1638 48.5279 17.7771V26.666C48.5279 27.2793 48.0302 27.7771 47.4168 27.7771C46.8035 27.7771 46.3057 27.2793 46.3057 26.666V18.8882H6.30572V44.8305C6.30572 45.2305 6.63016 45.5549 7.03016 45.5549H40.7502C41.3635 45.5549 41.8613 46.0527 41.8613 46.666C41.8613 47.2794 41.3635 47.7771 40.7502 47.7771Z"
                                fill="#121212"></path>
                            <path
                                d="M47.4168 18.8886C47.0257 18.8886 46.6457 18.6819 46.4435 18.313L39.7324 6.13079C39.539 5.77523 39.1657 5.55523 38.759 5.55523H13.8524C13.4457 5.55523 13.0724 5.77523 12.879 6.13079L6.16793 18.313C5.87237 18.853 5.19237 19.0419 4.65904 18.7508C4.12126 18.4552 3.9257 17.7775 4.22126 17.2419L10.9324 5.05967C11.5168 3.99301 12.6368 3.33301 13.8524 3.33301H38.7613C39.9768 3.33301 41.0968 3.99301 41.6813 5.05745L48.3902 17.2397C48.6879 17.7775 48.4924 18.453 47.9546 18.7486C47.7835 18.8441 47.599 18.8886 47.4168 18.8886Z"
                                fill="#121212"></path>
                            <path
                                d="M26.3074 18.8886C25.6941 18.8886 25.1963 18.3908 25.1963 17.7775V4.44412C25.1963 3.83079 25.6941 3.33301 26.3074 3.33301C26.9207 3.33301 27.4185 3.83079 27.4185 4.44412V17.7775C27.4185 18.3908 26.9207 18.8886 26.3074 18.8886Z"
                                fill="#121212"></path>
                            <path
                                d="M56.3059 56.666C55.6925 56.666 55.1948 56.1682 55.1948 55.5549V51.1105C55.1948 44.3705 49.7103 38.8882 42.9725 38.8882H38.5281C37.9148 38.8882 37.417 38.3905 37.417 37.7771C37.417 37.1638 37.9148 36.666 38.5281 36.666H42.9725C50.937 36.666 57.417 43.146 57.417 51.1105V55.5549C57.417 56.1682 56.9192 56.666 56.3059 56.666Z"
                                fill="#121212"></path>
                            <path
                                d="M46.3059 45.555C46.0503 45.555 45.7925 45.4661 45.5837 45.2861L37.8059 38.6194C37.557 38.4105 37.417 38.1017 37.417 37.7772C37.417 37.4528 37.557 37.1439 37.8059 36.935L45.5837 30.2683C46.0481 29.8705 46.7459 29.9216 47.1503 30.3883C47.5503 30.8528 47.4948 31.555 47.0281 31.955L40.237 37.7772L47.0303 43.6017C47.497 44.0017 47.5503 44.7017 47.1525 45.1683C46.9281 45.4239 46.6192 45.555 46.3059 45.555Z"
                                fill="#121212"></path>
                        </svg>
                        <div class="wrapper-preference">
                            <div class="text-header-service">14-Day Money Back</div>
                            <div class="text-sub-service">
                                If you're not satisfied with your purchase, simply return it within 14 days for a
                                refund.
                            </div>
                        </div>
                    </div>

                    <div class="preference">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="51" viewBox="0 0 57 51" fill="none">
                            <path
                                d="M52.6905 1H34.2588C33.8441 1 33.5081 1.33365 33.5081 1.74543C33.5081 2.15721 33.8441 2.49086 34.2588 2.49086H52.6905C53.8247 2.49086 54.7475 3.40714 54.7475 4.53334V23.7288C54.7475 24.855 53.8247 25.7713 52.6905 25.7713H49.7465C49.5883 25.7713 49.4342 25.8209 49.3061 25.913L44.1869 29.5945V26.5167C44.1869 26.1049 43.8508 25.7713 43.4361 25.7713H27.1406C26.0063 25.7713 25.0835 24.855 25.0835 23.7288V4.53334C25.0835 3.40714 26.0064 2.49086 27.1406 2.49086H30.9875C31.4022 2.49086 31.7383 2.15721 31.7383 1.74543C31.7383 1.33365 31.4022 1 30.9875 1H27.1406C25.1783 1 23.582 2.58498 23.582 4.53334V23.7288C23.582 25.6771 25.1784 27.2621 27.1406 27.2621H42.6853V31.0549C42.6853 31.335 42.8435 31.5914 43.0948 31.7188C43.361 31.8448 43.6216 31.8248 43.8766 31.6587L49.9898 27.2622H52.6905C54.6528 27.2622 56.2491 25.6772 56.2491 23.7289V4.53334C56.2491 2.58508 54.6527 1 52.6905 1Z"
                                fill="#121212" stroke="#121212" stroke-width="0.4"></path>
                            <path
                                d="M47.8913 41.6876C47.7202 40.4651 47.0007 39.4257 45.915 38.8341L42.2672 36.8467C41.8695 36.6296 41.3713 36.7766 41.1545 37.1747C40.938 37.5725 41.0847 38.0707 41.4826 38.2874L45.1299 40.2746C45.754 40.6146 46.1675 41.2115 46.2664 41.9136C46.2669 41.918 46.2675 41.9225 46.2681 41.9269C46.3638 42.6361 46.1225 43.3278 45.6062 43.8242L45.0686 44.3404L31.6022 36.7631L33.1848 35.371C33.8599 34.777 34.8427 34.6673 35.6312 35.098L37.9072 36.3384C38.305 36.5551 38.8032 36.4085 39.02 36.0106C39.2367 35.6128 39.0901 35.1146 38.6922 34.8978L36.4168 33.6577C35.0263 32.8985 33.2917 33.0917 32.1014 34.1391L28.4133 37.3831C27.6578 38.0475 26.5553 38.1092 25.7323 37.5327C20.1771 33.641 16.143 29.3596 13.3993 24.4443C12.9367 23.6144 13.0659 22.5909 13.7207 21.8976L16.6401 18.81C17.7286 17.6574 17.9838 15.9308 17.2751 14.5134L12.3623 4.68794C11.8151 3.59194 10.8099 2.83695 9.60479 2.61646C8.39887 2.39553 7.19087 2.74628 6.29009 3.57805L4.42423 5.30184C2.36171 7.20708 0.996768 9.67098 0.477039 12.4269C-0.0436752 15.1874 0.335294 17.9721 1.57282 20.4809C1.57829 20.4924 1.58343 20.5025 1.5877 20.5108C2.37189 22.0967 3.21984 23.6475 4.10639 25.1175C4.25437 25.3649 4.41395 25.6263 4.58041 25.8946C4.81938 26.2794 5.325 26.3977 5.70999 26.1588C6.09486 25.9199 6.2132 25.4141 5.97434 25.0292C5.81258 24.7686 5.65771 24.5149 5.51279 24.2727C4.6492 22.8407 3.82433 21.3323 3.06103 19.7892C3.05676 19.7802 3.05239 19.7715 3.04791 19.7627C0.891553 15.3996 1.855 10.046 5.37859 6.65979L12.7761 20.509L12.5284 20.771C11.379 21.9876 11.1531 23.785 11.9665 25.2437C14.8337 30.3803 19.0285 34.8396 24.791 38.8766C25.4525 39.3397 26.2164 39.5683 26.9778 39.5683C27.8798 39.5683 28.7779 39.2472 29.4968 38.6149L30.2971 37.911L43.8326 45.5272L43.8189 45.5403C40.33 48.8923 35.1035 49.6551 30.8137 47.4384C21.5155 42.6322 13.9566 36.2789 8.34713 28.5554C8.08082 28.1887 7.56787 28.1073 7.20137 28.3737C6.83476 28.64 6.75349 29.1528 7.0197 29.5195C12.7809 37.4519 20.5329 43.9712 30.0603 48.8961C31.9357 49.8651 33.9664 50.3372 35.9839 50.3372C39.2524 50.3372 42.4848 49.0972 44.9551 46.7238L46.7427 45.0073C47.6343 44.15 48.0543 42.9584 47.8973 41.7341C47.8958 41.7184 47.8937 41.7031 47.8913 41.6876ZM6.6217 5.50516L7.40326 4.7832C7.92124 4.30493 8.61575 4.10358 9.30949 4.23023C10.0022 4.35699 10.58 4.79097 10.8948 5.42138L15.8077 15.2472C16.2096 16.0509 16.0648 17.03 15.4477 17.6833L13.9645 19.252L6.6217 5.50516Z"
                                fill="#121212" stroke="#121212" stroke-width="0.4"></path>
                            <path
                                d="M50.1076 14.4904C50.1076 12.9104 48.8222 11.625 47.2422 11.625C45.6624 11.625 44.377 12.9104 44.377 14.4904C44.377 16.0703 45.6624 17.3557 47.2422 17.3557C48.8222 17.3557 50.1076 16.0703 50.1076 14.4904ZM46.0174 14.4904C46.0174 13.815 46.5668 13.2656 47.2421 13.2656C47.9175 13.2656 48.467 13.815 48.467 14.4904C48.467 15.1658 47.9175 15.7151 47.2421 15.7151C46.5668 15.7151 46.0174 15.1658 46.0174 14.4904Z"
                                fill="#121212"></path>
                            <path
                                d="M42.5119 14.4904C42.5119 12.9104 41.2265 11.625 39.6466 11.625C38.0667 11.625 36.7812 12.9104 36.7812 14.4904C36.7812 16.0703 38.0667 17.3557 39.6466 17.3557C41.2265 17.3557 42.5119 16.0703 42.5119 14.4904ZM38.4217 14.4904C38.4217 13.815 38.9712 13.2656 39.6465 13.2656C40.3219 13.2656 40.8713 13.815 40.8713 14.4904C40.8713 15.1658 40.3219 15.7151 39.6465 15.7151C38.9712 15.7151 38.4217 15.1658 38.4217 14.4904Z"
                                fill="#121212"></path>
                            <path
                                d="M29.1836 14.4904C29.1836 16.0703 30.4689 17.3557 32.049 17.3557C33.6291 17.3557 34.9144 16.0703 34.9144 14.4904C34.9144 12.9104 33.629 11.625 32.049 11.625C30.469 11.625 29.1836 12.9104 29.1836 14.4904ZM32.049 13.2656C32.7244 13.2656 33.2738 13.815 33.2738 14.4904C33.2738 15.1658 32.7244 15.7151 32.049 15.7151C31.3736 15.7151 30.8243 15.1658 30.8243 14.4904C30.8243 13.815 31.3736 13.2656 32.049 13.2656Z"
                                fill="#121212"></path>
                        </svg>


                        <div class="wrapper-preference">
                            <div class="text-header-service">Shipping worldwide</div>
                            <div class="text-sub-service">
                                We ship our products worldwilde, making them accessible to customers everywhere.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="wrapper-description ">
            <!-- handled description: none -->
            <div class="row description">
                <div class="col-6">
                    <div class="text-header">Description</div>
                    <div class="text-content">
                        <%= productInfo.description %>
                    </div>




                </div>

                <div class="col-6">
                    <div class="text-header">About This Products</div>
                    <ul class="text-content">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Nulla luctus libero quis mauris vestibulum dapibus.</li>
                        <li>Maecenas ullamcorper erat mi, vel consequat enim suscipit at.</li>
                        <li>Quisque consectetur nibh ac urna molestie scelerisque.</li>
                        <li>Mauris in nisl scelerisque massa consectetur pretium sed et mauris.</li>
                    </ul>
                </div>
            </div>

            <div class="row features">
                <div class="col-3 feature">

                    <img loading="lazy" decoding="async" class="alignnone size-full wp-image-1903"
                        src="https://zunzowp.themesflat.com/wp-content/uploads/2023/10/step-1.svg" alt="" width="40"
                        height="40">
                    <div class="text-header">
                        Shipping Faster
                    </div>
                    <div class="text-content">
                        Use on walls, furniture, doors and many more surfaces. The possibilities are endless.
                    </div>
                </div>
                <div class="col-3 feature"><img loading="lazy" decoding="async"
                        class="alignnone size-full wp-image-1904"
                        src="https://zunzowp.themesflat.com/wp-content/uploads/2023/10/step-2.svg" alt="" width="41"
                        height="40">
                    <div class="text-header">
                        Cotton Material
                    </div>
                    <div class="text-content">
                        Use on walls, furniture, doors and many more surfaces. The possibilities are endless.
                    </div>
                </div>
                <div class="col-3 feature"><img loading="lazy" decoding="async"
                        class="alignnone size-full wp-image-1905"
                        src="https://zunzowp.themesflat.com/wp-content/uploads/2023/10/step-3.svg" alt="" width="40"
                        height="40">
                    <div class="text-header">
                        High Quality
                    </div>
                    <div class="text-content">
                        Use on walls, furniture, doors and many more surfaces. The possibilities are endless.
                    </div>
                </div>
                <div class="col-3 feature"><img loading="lazy" decoding="async"
                        class="alignnone size-full wp-image-1906"
                        src="https://zunzowp.themesflat.com/wp-content/uploads/2023/10/step-4.svg" alt="" width="41"
                        height="40">
                    <div class="text-header">
                        Highly Compatible
                    </div>
                    <div class="text-content">
                        Use on walls, furniture, doors and many more surfaces. The possibilities are endless.
                    </div>
                </div>
            </div>

        </div>


        <div class="wrapper-review">
            <div class="header-review">
                Reviews(<%= reviews.totalDocs %>)
            </div>
            <div class="row reviews">

                <div class="col-3 ">
                    <div class="wrapper-score-review">
                        <div class="score-review">
                            <%= (productInfo.rating).toFixed(1) %>
                        </div>
                        <div class="num-review">
                            <div class="rating">
                                <% for(let k=5; k>= 1; k--) { %>
                                    <% if ((productInfo.rating).toFixed(0)>= k) { %>
                                        <div class="star-<%= k %> active"></div>
                                        <% } else { %>
                                            <div class="star-<%= k %>"></div>
                                            <% } %>
                                                <% } %>
                            </div>
                            <!-- <div class="num-ratings">
                                (<%= reviews.totalDocs %> Ratings)
                            </div> -->

                        </div>
                    </div>




                    <!-- <ul class="list-score-review">
                        <li class="five-score">
                            <div class="score">5</div>

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M4.66679 8.33307L2.25088 6.33314C1.79489 5.96849 1.99489 5.23518 2.57353 5.15252L6.00007 4.99986L7.46335 1.33132C7.56535 1.128 7.77268 1 8 1C8.22732 1 8.43465 1.12866 8.53665 1.33132L9.99993 4.99986L13.4265 5.15252C14.0051 5.23518 14.2051 5.96849 13.7491 6.33314L11.3332 8.33307L11.9925 12.2376C12.0685 12.7702 11.5152 13.1689 11.0346 12.9282L8 10.9996L4.96545 12.9276C4.48413 13.1682 3.93148 12.7696 4.00748 12.2369L4.66679 8.33307Z"
                                    fill="#121212"></path>
                            </svg>

                            <div class="line-percent-review">

                            </div>

                            <div class="percent-review">
                                100%
                            </div>
                        </li>
                        <li class="four-score">
                            <div class="score">4</div>

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M4.66679 8.33307L2.25088 6.33314C1.79489 5.96849 1.99489 5.23518 2.57353 5.15252L6.00007 4.99986L7.46335 1.33132C7.56535 1.128 7.77268 1 8 1C8.22732 1 8.43465 1.12866 8.53665 1.33132L9.99993 4.99986L13.4265 5.15252C14.0051 5.23518 14.2051 5.96849 13.7491 6.33314L11.3332 8.33307L11.9925 12.2376C12.0685 12.7702 11.5152 13.1689 11.0346 12.9282L8 10.9996L4.96545 12.9276C4.48413 13.1682 3.93148 12.7696 4.00748 12.2369L4.66679 8.33307Z"
                                    fill="#121212"></path>
                            </svg>

                            <div class="line-percent-review">

                            </div>

                            <div class="percent-review">
                                100%
                            </div>
                        </li>
                        <li class="three-score">
                            <div class="score">3</div>

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M4.66679 8.33307L2.25088 6.33314C1.79489 5.96849 1.99489 5.23518 2.57353 5.15252L6.00007 4.99986L7.46335 1.33132C7.56535 1.128 7.77268 1 8 1C8.22732 1 8.43465 1.12866 8.53665 1.33132L9.99993 4.99986L13.4265 5.15252C14.0051 5.23518 14.2051 5.96849 13.7491 6.33314L11.3332 8.33307L11.9925 12.2376C12.0685 12.7702 11.5152 13.1689 11.0346 12.9282L8 10.9996L4.96545 12.9276C4.48413 13.1682 3.93148 12.7696 4.00748 12.2369L4.66679 8.33307Z"
                                    fill="#121212"></path>
                            </svg>

                            <div class="line-percent-review">

                            </div>

                            <div class="percent-review">
                                100%
                            </div>
                        </li>
                        <li class="two-score">
                            <div class="score">2</div>

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M4.66679 8.33307L2.25088 6.33314C1.79489 5.96849 1.99489 5.23518 2.57353 5.15252L6.00007 4.99986L7.46335 1.33132C7.56535 1.128 7.77268 1 8 1C8.22732 1 8.43465 1.12866 8.53665 1.33132L9.99993 4.99986L13.4265 5.15252C14.0051 5.23518 14.2051 5.96849 13.7491 6.33314L11.3332 8.33307L11.9925 12.2376C12.0685 12.7702 11.5152 13.1689 11.0346 12.9282L8 10.9996L4.96545 12.9276C4.48413 13.1682 3.93148 12.7696 4.00748 12.2369L4.66679 8.33307Z"
                                    fill="#121212"></path>
                            </svg>

                            <div class="line-percent-review">

                            </div>

                            <div class="percent-review">
                                100%
                            </div>
                        </li>
                        <li class="one-score">
                            <div class="score">1</div>

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M4.66679 8.33307L2.25088 6.33314C1.79489 5.96849 1.99489 5.23518 2.57353 5.15252L6.00007 4.99986L7.46335 1.33132C7.56535 1.128 7.77268 1 8 1C8.22732 1 8.43465 1.12866 8.53665 1.33132L9.99993 4.99986L13.4265 5.15252C14.0051 5.23518 14.2051 5.96849 13.7491 6.33314L11.3332 8.33307L11.9925 12.2376C12.0685 12.7702 11.5152 13.1689 11.0346 12.9282L8 10.9996L4.96545 12.9276C4.48413 13.1682 3.93148 12.7696 4.00748 12.2369L4.66679 8.33307Z"
                                    fill="#121212"></path>
                            </svg>

                            <div class="line-percent-review">

                            </div>

                            <div class="percent-review">
                                100%
                            </div>
                        </li>
                    </ul> -->
                </div>
                <div class="col-9" id="reviews-page-product">


                    <ul class="user-reviews">
                        <% for(let i=0; i < reviews.docs.length; i++){ %>
                            <li class="user-review">
                                <img alt=""
                                    src="https://secure.gravatar.com/avatar/b992087ca24c735ade838a3cf92d0d29?s=100&amp;d=mm&amp;r=g"
                                    srcset="https://secure.gravatar.com/avatar/b992087ca24c735ade838a3cf92d0d29?s=200&amp;d=mm&amp;r=g 2x"
                                    class="avatar avatar-100 photo" height="100" width="100" loading="lazy"
                                    decoding="async">
                                <div class="detail-review-user">
                                    <div class="score-rating-user">
                                        <div class="num-review">
                                            <div class="rating">
                                                <% for (let j=5; j>= 1; j--) { %>
                                                    <% if (reviews.docs[i].rating>= j) { %>
                                                        <input type="radio" class="star-<%= j %>" value="<%= j %>">
                                                        <label for="star-<%= j %>" style="color:#ffcc00"></label>
                                                        <% } else { %>
                                                            <input type="radio" class="star-<%= j %>" value="<%= j %>">
                                                            <label for="star-<%= j %>"></label>
                                                            <% } %>
                                                                <% } %>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="name-user">
                                        <%= reviews.docs[i].username %>
                                    </div>
                                    <div class="time-review"> 11/03/2023</div>
                                    <div class="content-user-review">
                                        <%= reviews.docs[i].comment %>
                                    </div>
                                </div>
                            </li>
                            <!-- <li class="user-review">
                            <img alt=""
                                src="https://secure.gravatar.com/avatar/b992087ca24c735ade838a3cf92d0d29?s=100&amp;d=mm&amp;r=g"
                                srcset="https://secure.gravatar.com/avatar/b992087ca24c735ade838a3cf92d0d29?s=200&amp;d=mm&amp;r=g 2x"
                                class="avatar avatar-100 photo" height="100" width="100" loading="lazy"
                                decoding="async">
                            <div class="detail-review-user">
                                <div class="score-rating-user">
                                    <div class="num-review">
                                        <div class="rating">
                                            <div class="star-5"></div>
                                            <div class="star-4"></div>
                                            <div class="star-3"></div>
                                            <div class="star-2"></div>
                                            <div class="star-1"></div>
                                        </div>


                                    </div>
                                </div>

                                <div class="name-user">Tony Nguyen</div>
                                <div class="time-review"> 11/03/2023</div>
                                <div class="content-user-review">
                                    The fashion brand’s online shopping experience is seamless. The website is
                                    user-friendly, the product images are clear, and the checkout process is quick.
                                </div>
                            </div>
                        </li> -->
                            <% } %>
                    </ul>

                </div>
            </div>
        </div>
        <div id="pagination-container"></div>
        <div class="add-review">
            <div class="header-add-review">Add A Review</div>
            <div class="sub-instruction">
                Your email address will not be published. Required fields are marked *
            </div>
            <div class="rating-form">
                <div class="text-rating">Rating:* </div>
                <div class="rating">
                    <input type="radio" id="star-5" name="rating" value="5">
                    <label for="star-5"></label>
                    <input type="radio" id="star-4" name="rating" value="4">
                    <label for="star-4"></label>
                    <input type="radio" id="star-3" name="rating" value="3">
                    <label for="star-3"></label>
                    <input type="radio" id="star-2" name="rating" value="2">
                    <label for="star-2"></label>
                    <input type="radio" id="star-1" name="rating" value="1">
                    <label for="star-1"></label>

                </div>
            </div>


            <form class="row g-3 needs-review" id="reviewForm" novalidate>
                <!-- <div class="col-md-6">
                    <label for="nameReview" class="form-label"></label>
                    <input type="text" class="form-control" id="nameReview" placeholder="Your name" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="emailReview" class="form-label"></label>
                    <input type="text" class="form-control" id="emailReview" placeholder="Your email" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div> -->

                <div class="col-md-12">
                    <label for="feedback" class="form-label"></label>

                    <!-- phan van textarea co lay duoc data vo khong -->
                    <!-- <input type="text" class="form-control" id="feedback" placeholder="Your review" rows="4" required> -->
                    <textarea type="text" class="form-control" id="feedback" placeholder="Your review"
                        rows="4"></textarea>
                    <div class="invalid-feedback">
                        Please provide a review.
                    </div>
                </div>

                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="header-card">
            <h1>Shopping cart</h1>
            <div class="closeShopping">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px">
                    <path
                        d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z" />
                </svg>
            </div>
        </div>

        <div class="body-card">
            <div class="description-freeship">
                Get free shipping for orders over
                <span>2.000.000 VNĐ</span>
            </div>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 0%"></div>
            </div>
            <ul class="listCard">
                <li class="product">
                    <img src="<%= productInfo.thumbnail %>" alt="" class="image-product">
                    <a href="" class="name-product">
                        <%= productInfo.name %>
                    </a>
                    <div class="wrapper-quantity">
                        <div class="remove-product">REMOVE</div>
                        <div class="quantity-product">
                            <div class="num-quantity">

                            </div>
                            <div class="price-product">

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="footer">
                <div class="Subtotal-wrapper">
                    <div class="Subtotal">Subtotal: </div>
                    <div class="Subtotal-price"></div>
                </div>
                <div class="wrapper-button">
                    <button class="view-cart">View Cart</button>
                    <button class="check-out">CheckOut</button>
                </div>

            </div>
        </div>

    </div>
    <div class="layer-background">

    </div>


    <script>
        const $ = document.querySelector.bind(document)
        const $$ = document.querySelectorAll.bind(document)

        const containerImage = $('.img-main-product');
        const mainImage = $('.main-img');

        const priceProductCurrent = $('price-product-current')

        // add to cart
        let closeShopping = $('.closeShopping')
        let listCard = $('.listCard')
        let total = $('.total')
        let body = $('body')


        // change main-img

        const listMainImg = $$('.list-image li>img')
        const btnLeftArrow = $('.btn-left-arrow')
        const btnRightArrow = $('.btn-right-arrow')

        // set current price
        const priceOrigin = parseInt($('.price-product-origin').innerHTML)
        const percentDiscount = parseInt($('.percent-discount').innerHTML)

        const currentPrice = priceOrigin * (100 - percentDiscount) / 100

        $('.price-product-current').innerHTML = currentPrice.toString();


        let curImgIndex = 0;

        // call api to review paging

        const reviewsProduct = document.getElementById("reviews-page-product");
        async function loadReviewHtml(page) {
            const curUrl = new URL(window.location.href);

            const urlObjectPath = curUrl.pathname;
            const pathPaging = "/review"

            curUrl.pathname = urlObjectPath + pathPaging;

            if (curUrl.searchParams.has('page')) {
                curUrl.searchParams.set('page', page);
            } else {
                curUrl.searchParams.append('page', page);
            }
            console.log(curUrl.pathname);

            await fetch(curUrl)
                .then((response) => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then((data) => {
                    console.log(data.reviews.docs)
                    let htmlContent = "";
                    data.reviews.docs.forEach(element => {
                        console.log(element)
                        htmlContent +=
                            `<ul class="user-reviews">
                     
                            <li class="user-review">
                                <img alt=""
                                    src="https://secure.gravatar.com/avatar/b992087ca24c735ade838a3cf92d0d29?s=100&amp;d=mm&amp;r=g"
                                    srcset="https://secure.gravatar.com/avatar/b992087ca24c735ade838a3cf92d0d29?s=200&amp;d=mm&amp;r=g 2x"
                                    class="avatar avatar-100 photo" height="100" width="100" loading="lazy"
                                    decoding="async">
                                <div class="detail-review-user">
                                    <div class="score-rating-user">
                                        <div class="num-review">
                                            <div class="rating">
                                                `;
                        switch (element.rating) {
                            case 1:
                                htmlContent +=
                                    `
                                                <div class="star-5"></div>
                                                <div class="star-4"></div>
                                                <div class="star-3"></div>
                                                <div class="star-2"></div>
                                                <div class="star-1 active"></div>
                                            `;
                                break;
                            case 2:
                                htmlContent +=
                                    `
                                                <div class="star-5"></div>
                                                <div class="star-4"></div>
                                                <div class="star-3"></div>
                                                <div class="star-2 active"></div>
                                                <div class="star-1 active"></div>
                                            `;
                                break;
                            case 3:
                                htmlContent +=
                                    `
                                                <div class="star-5"></div>
                                                <div class="star-4"></div>
                                                <div class="star-3 active"></div>
                                                <div class="star-2 active"></div>
                                                <div class="star-1 active"></div>
                                            `;
                                break;
                            case 4:
                                htmlContent +=
                                    `
                                                <div class="star-5"></div>
                                                <div class="star-4 active"></div>
                                                <div class="star-3  active"></div>
                                                <div class="star-2 active"></div>
                                                <div class="star-1 active"></div>
                                            `;
                                break;
                            case 5:
                                htmlContent +=
                                    `
                                                <div class="star-5  active"></div>
                                                <div class="star-4  active"></div>
                                                <div class="star-3  active"></div>
                                                <div class="star-2 active"></div>
                                                <div class="star-1 active"></div>
                                            `;
                                break;
                        }

                        htmlContent +=
                            `
                                            </div>


                                        </div>
                                    </div>

                                    <div class="name-user">${element.username}</div>
                                    <div class="time-review"> 11/03/2023</div>
                                    <div class="content-user-review">
                                        ${element.comment}
                                    </div>
                                </div>
                            </li>
                           
                    </ul>`;
                    });
                    reviewsProduct.innerHTML = htmlContent;
                })
        }

        // call api to get review

        let totalPages = 10;
        let currentPage = 1;
        async function generateReviewPart() {


            const curUrl = new URL(window.location.href);

            const urlObjectPath = curUrl.pathname;
            const pathPaging = "/review"

            const reviewPagingPath = urlObjectPath + pathPaging;


            await fetch(reviewPagingPath)
                .then((response) => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then((data) => {

                    totalPages = data.reviews.totalPages;
                    return data;

                })

            // Function to generate pagination HTML
            function generatePagination() {
                const paginationContainer = document.getElementById('pagination-container');
                paginationContainer.innerHTML = ''; // Clear previous content


                for (let i = 1; i <= totalPages; i++) {

                    const paginationItem = document.createElement('li');
                    paginationItem.textContent = i;
                    paginationItem.className = 'pagination-item';
                    paginationItem.dataset.value = i;

                    // Add active class to the current page
                    if (i === currentPage) {

                        paginationItem.classList.add('active');
                    }

                    // Add click event listener to each pagination item
                    paginationItem.addEventListener('click', function () {
                        currentPage = i;

                        loadReviewHtml(i);
                        generatePagination(); // Re-generate pagination on click
                    });

                    paginationContainer.appendChild(paginationItem);

                }
            }


            // Initial generation of pagination
            generatePagination();

        }
        document.addEventListener('DOMContentLoaded', function () {

            generateReviewPart();


        })
        // adjust number of products
        const plus = $(".plus")
        const num = $(".num")
        const minus = $(".minus")
        let numOfProduct = 1;
        plus.addEventListener("click", () => {
            numOfProduct++;
            num.innerText = numOfProduct;
        })
        minus.addEventListener("click", () => {

            numOfProduct--;
            if (numOfProduct <= 1) {
                numOfProduct = 1;
            }
            num.innerText = numOfProduct;
        })


        listMainImg.forEach((mainImg, index) => {
            const page = listMainImg[index]

            mainImg.onclick = function () {

                curImgIndex = index;
                mainImage.src = listMainImg[curImgIndex].src

            }
        })

        btnLeftArrow.addEventListener('click', function () {


            if (curImgIndex > 0) {
                curImgIndex -= 1;
            }
            mainImage.src = listMainImg[curImgIndex].src

        });

        btnRightArrow.addEventListener('click', function () {
            if (curImgIndex < 4) {
                curImgIndex += 1;
            }
            mainImage.src = listMainImg[curImgIndex].src

        });

        // handle add product to cart
        const addToCart = $('.add-to-cart')
        const backgroundOverlay = $('.layer-background');


        const subTotal = $('.Subtotal-price')
        const priceProduct = $('.price-product')
        const numQuantity = $('.num-quantity')


        // addToCart.addEventListener('click', function () {

        //     subTotal.innerHTML = '$' + (currentPrice * numOfProduct).toString();
        //     priceProduct.innerHTML = '$' + currentPrice.toString();
        //     numQuantity.innerHTML = numOfProduct.toString() + "x";
        //     backgroundOverlay.classList.add('active')
        //     body.classList.add('active')

        // }); 
        // add to handle update card 
        let currentQuantity = 0;
        const progressBar = $('.progress-bar')
        let widthProgressBar = 0;
        addToCart.addEventListener('click', function () {
            // update card ui
            currentQuantity += numOfProduct;
            subTotal.innerHTML = (currentPrice * currentQuantity).toString();
            priceProduct.innerHTML = currentPrice.toString();
            numQuantity.innerHTML = currentQuantity.toString() + "x";
            backgroundOverlay.classList.add('active')
            body.classList.add('active')

            widthProgressBar = (currentPrice * currentQuantity) / 2000000 * 100

            progressBar.style.width = `${widthProgressBar}%`;

            if (widthProgressBar >= 100) {
                $('.description-freeship').innerHTML = "You have been freeship cause buying over 2.000.000 VNĐ"
            }

            // call api update card

            const formData = {
                'quantity': currentQuantity,

            };
            const curUrl = new URL(window.location.href);

            const urlObjectPath = curUrl.pathname;
            const pathPaging = "/cart"

            curUrl.pathname = urlObjectPath + pathPaging;


            // formData.append('rating', numRating)
            // formData.append()

            console.log(curUrl.pathname);
            fetch(curUrl.pathname, {
                method: 'POST',
                body: JSON.stringify(formData),
                headers: {
                    'Content-type': 'application/json; charset=UTF-8',
                },
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json(); // Hoặc response.text() tùy thuộc vào định dạng dữ liệu bạn mong đợi từ server
                })
                .then(data => {
                    // Xử lý kết quả từ server (nếu cần)


                    console.log(data)
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });

        });
        //handle remove product
        const removeProduct = $('.remove-product')
        removeProduct.addEventListener('click', function () {
            currentQuantity = 0;
            subTotal.innerHTML = (currentPrice * currentQuantity).toString();
            priceProduct.innerHTML = currentPrice.toString();
            numQuantity.innerHTML = currentQuantity.toString() + "x";
            widthProgressBar = (currentPrice * currentQuantity) / 2000000 * 100

            progressBar.style.width = `${widthProgressBar}%`;

        });
        closeShopping.addEventListener('click', function () {
            backgroundOverlay.classList.remove('active')
            body.classList.remove('active')

        });

        backgroundOverlay.addEventListener('click', function () {
            backgroundOverlay.classList.remove('active')
            body.classList.remove('active')

        });
        //handle view cart
        const viewCart = $('.view-cart')
        viewCart.addEventListener('click', function () {


        });

        // xử lý ảnh
        containerImage.addEventListener('mousemove', (e) => {
            const x = e.clientX - e.target.offsetLeft;
            const y = e.clientY - e.target.offsetTop;
            mainImage.style.transformOrigin = `${x}px ${y}px`;
            mainImage.style.transform = "scale(0.9)"
        })

        containerImage.addEventListener('mouseleave', () => {

            mainImage.style.transformOrigin = "center";
            mainImage.style.transform = "scale(1)"
        })



        function initApp() {
            products.forEach((value, key) => {
                let newDiv = document.createElement('div');
                newDiv.classList.add('item');
                newDiv.innerHTML = `
            <img src="image/${value.image}">
            <div class="title">${value.name}</div>
            <div class="price">${value.price.toLocaleString()}</div>
            <button onclick="addToCard(${key})">Add To Card</button>`;
                list.appendChild(newDiv);
            })
        }
        function reloadCard() {
            listCard.innerHTML = '';
            let count = 0;
            let totalPrice = 0;
            listCards.forEach((value, key) => {
                totalPrice = totalPrice + value.price;
                count = count + value.quantity;
                if (value != null) {
                    let newDiv = document.createElement('li');
                    newDiv.innerHTML = `
              
                <div><img src="assets\\main-img.jpg"/></div>
                <div>BROOKS MEN'S LAUNCH 9 ROAD-RUNNING SHOES</div>
                <div>80.00</div>
                <div>
                    <button onclick="changeQuantity(${key}, ${value.quantity - 1})">-</button>
                    <div class="count">${value.quantity}</div>
                    <button onclick="changeQuantity(${key}, ${value.quantity + 1})">+</button>
                </div>`;
                    listCard.appendChild(newDiv);
                }
            })
            total.innerText = totalPrice.toLocaleString();
            quantity.innerText = count;
        }






        $('#reviewForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Ngăn chặn form gửi đi một cách tự động

            const numRating = getRating();

            const feedback = $('#feedback').value
            console.log($('#reviewForm'))



            const formData = {
                'rating': numRating,
                'comment': feedback
            };
            const curUrl = new URL(window.location.href);

            const urlObjectPath = curUrl.pathname;
            const pathPaging = "/review"

            curUrl.pathname = urlObjectPath + pathPaging;


            // formData.append('rating', numRating)
            // formData.append()

            console.log(curUrl.pathname);
            fetch(curUrl.pathname, {
                method: 'POST',
                body: JSON.stringify(formData),
                headers: {
                    'Content-type': 'application/json; charset=UTF-8',
                },
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json(); // Hoặc response.text() tùy thuộc vào định dạng dữ liệu bạn mong đợi từ server
                })
                .then(data => {
                    // Xử lý kết quả từ server (nếu cần)
                    $('.wrapper-score-review .score-review').innerHTML = parseFloat(data.averageRating).toFixed(1)
                    $('.header-review').innerHTML = "Reviews(" + data.totalReview + ")"
                    $('.number-review').innerHTML = "( " + data.totalReview + " Customer Reviews)"
                    const submitFrom = $('.btn-primary')
                    const alertReview = $('.alert-success')
                    alertReview.style.opacity = "1";
                    alertReview.style.display = "block"

                    setTimeout(function () {
                        alertReview.style.opacity = "0";
                        setTimeout(function () {
                            alertReview.style.display = "none";
                        }, 500);
                    }, 3000);

                    generateReviewPart()
                    currentPage = 1;
                    loadReviewHtml(currentPage)
                    console.log(data)
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });
        });

        function getRating() {
            var ratingElements = $$('.rating-form .rating input');
            var selectedRating;

            for (var i = 0; i < ratingElements.length; i++) {
                if (ratingElements[i].checked) {
                    selectedRating = ratingElements[i].value;
                    break;
                }
            }

            return selectedRating;
        }


    </script>








    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>