<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/assetsHomePage/style.css">
    <title>Home page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/pagination.css">
    <link rel="stylesheet" href="/css/home_page.css">
    <link rel="stylesheet" href="/css/home_page2.css">
</head>

<body>
    <div class="container ">
        <%- include('Navbar') %>
        <div class="img-banner">
            <div class="row row-cols-2 img-cover ">


                <div class="col-8 main-img ">
                    <img class="img active" src="\assetsHomePage\Slider-1.webp" alt="">
                </div>

                <div class="content-main-img">

                    <div class="wrapper-content-top">
                        <div class="text-sale-number"> UP TO 15% SALE OFF</div>
                        <div class="text-sale"> LOOKING FOR RUNNING SHOES</div>
                    </div>

                    <div class="wrapper-content-bottom">
                        <div class="sub-text-sale">We Help You Finding to Right Shoes</div>
                        <a href="/all-product">
                            <button class="shop-now" id="shop_now_btn">SHOP NOW</button>
                        </a>
                    </div>


                </div>
                <div class="control-nav-main-img">
                    <a class="flex-active" href="#">

                    </a>
                    <a href="#">

                    </a>
                    <a href="#">

                    </a>
                </div>

                <div class="col-4 sub-imgs ">

                    <div class="row sub-img1"><img class="img" src="\assetsHomePage\Banner1.webp" alt="">
                    </div>
                    <div class="row sub-img2"><img class="img" src="\assetsHomePage\banner2.webp" alt="">
                    </div>

                </div>

            </div>
        </div>
        <div class="wrapper-shop-category">
            <h2 class="header-shop-category">SHOP BY CATEGORY</h2>
            <ul class="shop-category">
                <li><img src="\assetsHomePage\running-shoes.webp" alt="">
                    <div class="text-header-category">
                        Running Shoes (4)
                    </div>
                </li>
                <li><img src="\assetsHomePage\running-clothes.webp" alt="">
                    <div class="text-header-category">
                        Running Clothes (1)
                    </div>
                </li>
                <li><img src="\assetsHomePage\running-watch.webp" alt="">
                    <div class="text-header-category">
                        Running Watch (1)
                    </div>
                </li>
                <li><img src="\assetsHomePage\accessory.webp" alt="">
                    <div class="text-header-category">
                        Accessory (3)
                    </div>
                </li>
            </ul>
        </div>

        <div class="wrapper-shop-category">
            <a href="/all-product">
                <h2 class="header-shop-category header-shop-category--product">OUR PRODUCTS</h2>
            </a>
            <div class="row gx-7" id="home_page_product">
                <% for(let i = 0; i < productList.docs.length; i++){ %>
                    <div class="col-12 col-xl-3 col-lg-4 col-md-4 col-sm-6 gy-5">
                        <div class="product">
                            <div class="product_image">
                                <img src= " <%= productList.docs[i].thumbnail %> "
                                alt="Victor Thruster TK-TTY A Tai Tzu Ying Signature Badminton Racket">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" 
                                aria-hidden="true" role="presentation" focusable="false">
                                <path d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 
                                6.98 0 0 0 2 11c0 7 7 12.27 14 17z"></path></svg>
                                <div class="product_info_1_rate">
                                    <div class="star-icon">&#9733;</div>
                                    <span>4.88</span>
    
                                </div>
                            </div>
                            <div class="product_info_1">
                                <span><%= productList.docs[i].name %></span>
                            </div>
                            <div class="product_info_2">
                                <span><%= productList.docs[i].description %></span>
                                <span><%= productList.docs[i].manufacturer %></span>
                                <div class="product_info_2_price">
                                    <span class="product_info_2_dollar">$ <%= productList.docs[i].price %></span>   
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>


        <div class="row service">

            <div class="col-3"><svg xmlns="http://www.w3.org/2000/svg" width="57" height="51" viewBox="0 0 57 51"
                    fill="none">
                    <path
                        d="M52.6905 1H34.2588C33.8441 1 33.5081 1.33365 33.5081 1.74543C33.5081 2.15721 33.8441 2.49086 34.2588 2.49086H52.6905C53.8247 2.49086 54.7475 3.40714 54.7475 4.53334V23.7288C54.7475 24.855 53.8247 25.7713 52.6905 25.7713H49.7465C49.5883 25.7713 49.4342 25.8209 49.3061 25.913L44.1869 29.5945V26.5167C44.1869 26.1049 43.8508 25.7713 43.4361 25.7713H27.1406C26.0063 25.7713 25.0835 24.855 25.0835 23.7288V4.53334C25.0835 3.40714 26.0064 2.49086 27.1406 2.49086H30.9875C31.4022 2.49086 31.7383 2.15721 31.7383 1.74543C31.7383 1.33365 31.4022 1 30.9875 1H27.1406C25.1783 1 23.582 2.58498 23.582 4.53334V23.7288C23.582 25.6771 25.1784 27.2621 27.1406 27.2621H42.6853V31.0549C42.6853 31.335 42.8435 31.5914 43.0948 31.7188C43.361 31.8448 43.6216 31.8248 43.8766 31.6587L49.9898 27.2622H52.6905C54.6528 27.2622 56.2491 25.6772 56.2491 23.7289V4.53334C56.2491 2.58508 54.6527 1 52.6905 1Z"
                        fill="#121212" stroke="#121212" stroke-width="0.4"></path>
                    <path
                        d="M47.8913 41.6876C47.7202 40.4651 47.0007 39.4257 45.915 38.8341L42.2672 36.8467C41.8695 36.6296 41.3713 36.7766 41.1545 37.1747C40.938 37.5725 41.0847 38.0707 41.4826 38.2874L45.1299 40.2746C45.754 40.6146 46.1675 41.2115 46.2664 41.9136C46.2669 41.918 46.2675 41.9225 46.2681 41.9269C46.3638 42.6361 46.1225 43.3278 45.6062 43.8242L45.0686 44.3404L31.6022 36.7631L33.1848 35.371C33.8599 34.777 34.8427 34.6673 35.6312 35.098L37.9072 36.3384C38.305 36.5551 38.8032 36.4085 39.02 36.0106C39.2367 35.6128 39.0901 35.1146 38.6922 34.8978L36.4168 33.6577C35.0263 32.8985 33.2917 33.0917 32.1014 34.1391L28.4133 37.3831C27.6578 38.0475 26.5553 38.1092 25.7323 37.5327C20.1771 33.641 16.143 29.3596 13.3993 24.4443C12.9367 23.6144 13.0659 22.5909 13.7207 21.8976L16.6401 18.81C17.7286 17.6574 17.9838 15.9308 17.2751 14.5134L12.3623 4.68794C11.8151 3.59194 10.8099 2.83695 9.60479 2.61646C8.39887 2.39553 7.19087 2.74628 6.29009 3.57805L4.42423 5.30184C2.36171 7.20708 0.996768 9.67098 0.477039 12.4269C-0.0436752 15.1874 0.335294 17.9721 1.57282 20.4809C1.57829 20.4924 1.58343 20.5025 1.5877 20.5108C2.37189 22.0967 3.21984 23.6475 4.10639 25.1175C4.25437 25.3649 4.41395 25.6263 4.58041 25.8946C4.81938 26.2794 5.325 26.3977 5.70999 26.1588C6.09486 25.9199 6.2132 25.4141 5.97434 25.0292C5.81258 24.7686 5.65771 24.5149 5.51279 24.2727C4.6492 22.8407 3.82433 21.3323 3.06103 19.7892C3.05676 19.7802 3.05239 19.7715 3.04791 19.7627C0.891553 15.3996 1.855 10.046 5.37859 6.65979L12.7761 20.509L12.5284 20.771C11.379 21.9876 11.1531 23.785 11.9665 25.2437C14.8337 30.3803 19.0285 34.8396 24.791 38.8766C25.4525 39.3397 26.2164 39.5683 26.9778 39.5683C27.8798 39.5683 28.7779 39.2472 29.4968 38.6149L30.2971 37.911L43.8326 45.5272L43.8189 45.5403C40.33 48.8923 35.1035 49.6551 30.8137 47.4384C21.5155 42.6322 13.9566 36.2789 8.34713 28.5554C8.08082 28.1887 7.56787 28.1073 7.20137 28.3737C6.83476 28.64 6.75349 29.1528 7.0197 29.5195C12.7809 37.4519 20.5329 43.9712 30.0603 48.8961C31.9357 49.8651 33.9664 50.3372 35.9839 50.3372C39.2524 50.3372 42.4848 49.0972 44.9551 46.7238L46.7427 45.0073C47.6343 44.15 48.0543 42.9584 47.8973 41.7341C47.8958 41.7184 47.8937 41.7031 47.8913 41.6876ZM6.6217 5.50516L7.40326 4.7832C7.92124 4.30493 8.61575 4.10358 9.30949 4.23023C10.0022 4.35699 10.58 4.79097 10.8948 5.42138L15.8077 15.2472C16.2096 16.0509 16.0648 17.03 15.4477 17.6833L13.9645 19.252L6.6217 5.50516Z"
                        fill="#121212" stroke="#121212" stroke-width="0.4"></path>
                    <path
                        d="M50.1076 14.4904C50.1076 12.9104 48.8222 11.625 47.2422 11.625C45.6624 11.625 44.377 12.9104 44.377 14.4904C44.377 16.0703 45.6624 17.3557 47.2422 17.3557C48.8222 17.3557 50.1076 16.0703 50.1076 14.4904ZM46.0174 14.4904C46.0174 13.815 46.5668 13.2656 47.2421 13.2656C47.9175 13.2656 48.467 13.815 48.467 14.4904C48.467 15.1658 47.9175 15.7151 47.2421 15.7151C46.5668 15.7151 46.0174 15.1658 46.0174 14.4904Z"
                        fill="#121212"></path>
                    <path
                        d="M42.5119 14.4904C42.5119 12.9104 41.2265 11.625 39.6466 11.625C38.0667 11.625 36.7812 12.9104 36.7812 14.4904C36.7812 16.0703 38.0667 17.3557 39.6466 17.3557C41.2265 17.3557 42.5119 16.0703 42.5119 14.4904ZM38.4217 14.4904C38.4217 13.815 38.9712 13.2656 39.6465 13.2656C40.3219 13.2656 40.8713 13.815 40.8713 14.4904C40.8713 15.1658 40.3219 15.7151 39.6465 15.7151C38.9712 15.7151 38.4217 15.1658 38.4217 14.4904Z"
                        fill="#121212"></path>
                    <path
                        d="M29.1836 14.4904C29.1836 16.0703 30.4689 17.3557 32.049 17.3557C33.6291 17.3557 34.9144 16.0703 34.9144 14.4904C34.9144 12.9104 33.629 11.625 32.049 11.625C30.469 11.625 29.1836 12.9104 29.1836 14.4904ZM32.049 13.2656C32.7244 13.2656 33.2738 13.815 33.2738 14.4904C33.2738 15.1658 32.7244 15.7151 32.049 15.7151C31.3736 15.7151 30.8243 15.1658 30.8243 14.4904C30.8243 13.815 31.3736 13.2656 32.049 13.2656Z"
                        fill="#121212"></path>
                </svg>

                <div class="text-header-service">24/7 Customber Service</div>
                <div class="text-sub-service">
                    We're here to help you with any questions or concerns you have, 24/7.
                </div>
            </div>
            <div class="col-3"><svg xmlns="http://www.w3.org/2000/svg" width="61" height="60" viewBox="0 0 61 60"
                    fill="none">
                    <path
                        d="M40.7502 47.7771H7.03016C5.40572 47.7771 4.0835 46.4549 4.0835 44.8305V17.7771C4.0835 17.1638 4.58127 16.666 5.19461 16.666H47.4168C48.0302 16.666 48.5279 17.1638 48.5279 17.7771V26.666C48.5279 27.2793 48.0302 27.7771 47.4168 27.7771C46.8035 27.7771 46.3057 27.2793 46.3057 26.666V18.8882H6.30572V44.8305C6.30572 45.2305 6.63016 45.5549 7.03016 45.5549H40.7502C41.3635 45.5549 41.8613 46.0527 41.8613 46.666C41.8613 47.2794 41.3635 47.7771 40.7502 47.7771Z"
                        fill="#121212"></path>
                    <path
                        d="M47.4168 18.8886C47.0257 18.8886 46.6457 18.6819 46.4435 18.313L39.7324 6.13079C39.539 5.77523 39.1657 5.55523 38.759 5.55523H13.8524C13.4457 5.55523 13.0724 5.77523 12.879 6.13079L6.16793 18.313C5.87237 18.853 5.19237 19.0419 4.65904 18.7508C4.12126 18.4552 3.9257 17.7775 4.22126 17.2419L10.9324 5.05967C11.5168 3.99301 12.6368 3.33301 13.8524 3.33301H38.7613C39.9768 3.33301 41.0968 3.99301 41.6813 5.05745L48.3902 17.2397C48.6879 17.7775 48.4924 18.453 47.9546 18.7486C47.7835 18.8441 47.599 18.8886 47.4168 18.8886Z"
                        fill="#121212"></path>
                    <path
                        d="M26.3074 18.8886C25.6941 18.8886 25.1963 18.3908 25.1963 17.7775V4.44412C25.1963 3.83079 25.6941 3.33301 26.3074 3.33301C26.9207 3.33301 27.4185 3.83079 27.4185 4.44412V17.7775C27.4185 18.3908 26.9207 18.8886 26.3074 18.8886Z"
                        fill="#121212"></path>
                    <path
                        d="M56.3059 56.666C55.6925 56.666 55.1948 56.1682 55.1948 55.5549V51.1105C55.1948 44.3705 49.7103 38.8882 42.9725 38.8882H38.5281C37.9148 38.8882 37.417 38.3905 37.417 37.7771C37.417 37.1638 37.9148 36.666 38.5281 36.666H42.9725C50.937 36.666 57.417 43.146 57.417 51.1105V55.5549C57.417 56.1682 56.9192 56.666 56.3059 56.666Z"
                        fill="#121212"></path>
                    <path
                        d="M46.3059 45.555C46.0503 45.555 45.7925 45.4661 45.5837 45.2861L37.8059 38.6194C37.557 38.4105 37.417 38.1017 37.417 37.7772C37.417 37.4528 37.557 37.1439 37.8059 36.935L45.5837 30.2683C46.0481 29.8705 46.7459 29.9216 47.1503 30.3883C47.5503 30.8528 47.4948 31.555 47.0281 31.955L40.237 37.7772L47.0303 43.6017C47.497 44.0017 47.5503 44.7017 47.1525 45.1683C46.9281 45.4239 46.6192 45.555 46.3059 45.555Z"
                        fill="#121212"></path>
                </svg>
                <div class="text-header-service">14-Day Money Back</div>
                <div class="text-sub-service">
                    If you're not satisfied with your purchase, simply return it within 14 days for a refund.
                </div>
            </div>
            <div class="col-3"><svg xmlns="http://www.w3.org/2000/svg" width="61" height="60" viewBox="0 0 61 60"
                    fill="none">
                    <path
                        d="M57.8962 33.2205C57.5796 32.0736 57.2816 30.9895 57.2816 30.0003C57.2816 29.0111 57.5796 27.9271 57.8962 26.7802C58.4 24.9545 58.9198 23.066 58.2978 21.2305C57.6523 19.3211 56.0436 18.0732 54.4879 16.8684C53.5554 16.1453 52.6747 15.4629 52.1031 14.7114C51.5217 13.9452 51.1103 12.9227 50.6767 11.8399C49.961 10.0611 49.222 8.22061 47.5665 7.06511C45.938 5.92685 43.9056 5.81721 41.9433 5.7125C40.7189 5.64721 39.5611 5.58438 38.5917 5.28257C37.6851 5.00047 36.7464 4.41533 35.7536 3.79569C34.156 2.79786 32.344 1.66699 30.2488 1.66699C28.1535 1.66699 26.3415 2.79786 24.7439 3.79692C23.7511 4.41656 22.8149 5.00293 21.9071 5.2838C20.9365 5.58562 19.7786 5.64844 18.5542 5.71373C16.5907 5.81967 14.5607 5.92808 12.9311 7.06634C11.2755 8.22185 10.5365 10.0611 9.82081 11.8399C9.38475 12.9227 8.97334 13.9464 8.39193 14.7126C7.82038 15.4666 6.93966 16.149 6.00719 16.8734C4.45268 18.0794 2.84643 19.3248 2.20097 21.2318C1.57892 23.0685 2.09873 24.9558 2.6013 26.7826C2.91787 27.9295 3.21596 29.0124 3.21596 30.0016C3.21596 30.9908 2.91787 32.0748 2.6013 33.2217C2.09873 35.0474 1.57892 36.9358 2.20097 38.7738C2.84643 40.6808 4.45391 41.9287 6.00842 43.1334C6.94089 43.8553 7.82162 44.539 8.39193 45.2905C8.97457 46.0567 9.38598 47.0792 9.82081 48.1632C10.5365 49.9421 11.2768 51.7825 12.9335 52.9405C14.5607 54.0763 16.5919 54.1847 18.5542 54.2894C19.7786 54.3547 20.9365 54.4175 21.9059 54.7193C22.8125 55.0014 23.7499 55.5866 24.7414 56.205C26.3403 57.2016 28.1523 58.3337 30.2488 58.3337C32.3453 58.3337 34.1585 57.2016 35.7585 56.2037C36.7501 55.5853 37.6863 55.0002 38.5941 54.7181C39.5635 54.4163 40.7214 54.3534 41.9458 54.2881C43.9093 54.1834 45.9393 54.075 47.5665 52.9392C49.2257 51.7813 49.9647 49.9384 50.6804 48.1583C51.1152 47.0767 51.5254 46.0542 52.1044 45.2905C52.6759 44.539 53.5566 43.8553 54.4891 43.1334C56.0448 41.9274 57.6523 40.6808 58.299 38.7726C58.9211 36.9346 58.4 35.0474 57.8962 33.2205ZM55.9646 37.9829C55.5569 39.1877 54.3042 40.1584 52.9788 41.1858C51.9626 41.9742 50.9106 42.7897 50.142 43.7999C49.3622 44.8297 48.8695 46.0542 48.3928 47.2405C47.7856 48.7533 47.2115 50.181 46.1559 50.9177C45.104 51.6519 43.5063 51.7369 41.8139 51.8268C40.4921 51.8971 39.1236 51.9697 37.8598 52.3639C36.6514 52.7421 35.533 53.4381 34.4527 54.1132C33.0053 55.0174 31.6393 55.8699 30.2486 55.8699C28.8579 55.8699 27.4931 55.0174 26.0457 54.1132C24.9667 53.4394 23.8495 52.7421 22.6399 52.3639C21.376 51.971 20.0075 51.8971 18.6858 51.8268C16.9933 51.7369 15.3945 51.6507 14.3438 50.9177C13.2894 50.181 12.7141 48.7533 12.1068 47.2418C11.6301 46.0555 11.1362 44.8297 10.3552 43.7999C9.58784 42.7897 8.5359 41.9742 7.51844 41.1846C6.19427 40.1572 4.94278 39.1877 4.53505 37.9829C4.15443 36.8607 4.55476 35.4095 4.97727 33.8746C5.32217 32.6193 5.67938 31.3234 5.67938 29.9991C5.67938 28.6748 5.32217 27.3801 4.97727 26.1248C4.55353 24.5899 4.15443 23.14 4.53505 22.0177C4.94278 20.8129 6.19304 19.8434 7.51721 18.816C8.53467 18.0264 9.58784 17.2097 10.354 16.1983C11.1374 15.1684 11.6301 13.9415 12.1081 12.7552C12.7141 11.2437 13.2881 9.81714 14.3413 9.08293C15.3933 8.3475 16.9933 8.2625 18.6871 8.17257C20.0075 8.10112 21.376 8.02844 22.6386 7.63424C23.8495 7.25728 24.9679 6.5588 26.0494 5.88373C27.4943 4.98322 28.8592 4.13076 30.2486 4.13076C31.6381 4.13076 33.0041 4.98322 34.4502 5.88619C35.5317 6.5625 36.649 7.25975 37.8598 7.6367C39.1224 8.02967 40.4897 8.10235 41.8114 8.1738C43.5051 8.26373 45.104 8.35119 46.1559 9.0854C47.2103 9.82206 47.7843 11.2486 48.3904 12.7576C48.8683 13.9452 49.3598 15.1709 50.1432 16.2008C50.9106 17.2109 51.9626 18.0264 52.9788 18.8148C54.3042 19.8434 55.5569 20.8142 55.9646 22.0214C56.3452 23.1412 55.9437 24.5911 55.5212 26.126C55.175 27.3813 54.8178 28.6773 54.8178 30.0016C54.8178 31.3258 55.1738 32.6218 55.5212 33.8758C55.9451 35.4108 56.3452 36.8607 55.9646 37.9829Z"
                        fill="#121212"></path>
                    <path
                        d="M30.2493 11.5215C20.0612 11.5215 11.7725 19.8108 11.7725 29.9997C11.7725 40.1887 20.0612 48.478 30.2493 48.478C40.4374 48.478 48.7261 40.1887 48.7261 29.9997C48.7261 19.8108 40.4374 11.5215 30.2493 11.5215ZM30.2493 46.0142C21.4198 46.0142 14.236 38.8299 14.236 29.9997C14.236 21.1696 21.4198 13.9853 30.2493 13.9853C34.8032 13.9853 38.9087 15.9058 41.8281 18.9682L30.0891 35.489L23.7294 29.1288C23.2478 28.6471 22.4693 28.6471 21.9877 29.1288C21.506 29.6105 21.506 30.389 21.9877 30.8707L29.3784 38.262C29.61 38.4948 29.9241 38.6229 30.2493 38.6229C30.2825 38.6229 30.3182 38.6217 30.3527 38.618C30.7136 38.5884 31.0438 38.4 31.2532 38.1043L43.4442 20.9466C45.2179 23.5237 46.2625 26.6404 46.2625 29.9997C46.2625 38.8299 39.0787 46.0142 30.2493 46.0142Z"
                        fill="#121212"></path>
                </svg>
                <div class="text-header-service">Our Guarantee</div>
                <div class="text-sub-service">
                    We stand behind our products and services and guarantee your satisfaction.
                </div>
            </div>
            <div class="col-3"><svg xmlns="http://www.w3.org/2000/svg" width="61" height="60" viewBox="0 0 61 60"
                    fill="none">
                    <path
                        d="M48.2921 22.4885H44.7245L45.7994 10.0742C45.8014 10.0517 45.8018 10.0296 45.8019 10.0074C45.8019 10.0055 45.8021 10.0037 45.8021 10.0019C45.8021 10.0015 45.8021 10.0013 45.8021 10.001C45.8021 9.66308 45.5994 9.36527 45.3016 9.23579C45.2991 9.23468 45.2966 9.23335 45.2941 9.23223C45.2756 9.22444 45.2565 9.21776 45.2372 9.2113C45.23 9.20896 45.2231 9.20607 45.2159 9.20384C45.2002 9.19906 45.1841 9.19527 45.168 9.19137C45.1567 9.1887 45.1459 9.18547 45.1345 9.18325C45.1204 9.18046 45.1058 9.17868 45.0914 9.17657C45.0779 9.17456 45.0646 9.17223 45.051 9.171C45.0487 9.17078 45.0466 9.17033 45.0443 9.17011C45.0297 9.16877 45.0153 9.169 45.0008 9.16844C44.991 9.16811 44.9815 9.16699 44.9718 9.16699H44.9614C44.9605 9.16699 44.9596 9.16699 44.9588 9.16699H27.9841C27.5259 9.16699 27.154 9.54106 27.154 10.002C27.154 10.4618 27.5259 10.8369 27.9841 10.8369H44.067L42.415 29.9161C42.4148 29.9176 42.4148 29.919 42.4146 29.9204L41.9978 34.7345H13.1542L13.6367 29.7248H19.1286C19.5871 29.7248 19.9587 29.351 19.9587 28.8899C19.9587 28.4287 19.5871 28.0549 19.1286 28.0549H13.7976L14.8163 17.4791H23.557C24.0156 17.4791 24.3871 17.1053 24.3871 16.6441C24.3871 16.183 24.0156 15.8092 23.557 15.8092H14.9772L15.4562 10.8369H24.6638C25.1209 10.8369 25.4939 10.4618 25.4939 10.002C25.4939 9.54106 25.1209 9.16699 24.6638 9.16699H14.7028C14.7024 9.16699 14.702 9.1671 14.7016 9.1671C14.3117 9.16699 13.9735 9.44309 13.8917 9.82584C13.8911 9.82863 13.8901 9.8313 13.8896 9.83408C13.8854 9.8549 13.8826 9.87616 13.8798 9.89754C13.879 9.90433 13.8776 9.91079 13.8769 9.91758C13.8768 9.91891 13.8765 9.92014 13.8764 9.92147L13.3093 15.8092H3.24659C2.78805 15.8092 2.4165 16.183 2.4165 16.6441C2.4165 17.1053 2.78805 17.4791 3.24659 17.4791H13.1483L12.1297 28.0549H9.16805C8.70952 28.0549 8.33797 28.4287 8.33797 28.8899C8.33797 29.351 8.70952 29.7248 9.16805 29.7248H11.9689L11.4141 35.4829C11.414 35.4838 11.414 35.4847 11.4139 35.4855L10.5563 44.3895C10.5562 44.3905 10.5561 44.3917 10.556 44.3926L10.5556 44.3958C10.5545 44.4074 10.5546 44.4187 10.554 44.4303C10.5532 44.4457 10.5516 44.4607 10.5516 44.4763C10.5516 44.4769 10.5517 44.4776 10.5517 44.4784C10.5517 44.4999 10.5533 44.521 10.5548 44.5422C10.5555 44.549 10.5553 44.5559 10.5561 44.5626C10.5583 44.5842 10.5619 44.6054 10.5658 44.6266C10.5669 44.6328 10.5675 44.6391 10.5687 44.6453C10.5719 44.6613 10.5764 44.6768 10.5806 44.6925C10.5835 44.7035 10.5858 44.7147 10.5892 44.7255C10.5901 44.7285 10.5915 44.7314 10.5924 44.7346C10.6325 44.8588 10.7007 44.9704 10.7897 45.0614C10.7914 45.0631 10.7927 45.065 10.7943 45.0665C10.8032 45.0755 10.8128 45.0835 10.8221 45.0919C10.8793 45.1447 10.944 45.1895 11.0147 45.2245C11.0294 45.2319 11.0439 45.2396 11.059 45.2459C11.0635 45.2479 11.0684 45.2492 11.073 45.251C11.0938 45.2594 11.1148 45.2674 11.1363 45.2742C11.1383 45.2747 11.1402 45.2751 11.1422 45.2757C11.1668 45.2831 11.1916 45.2895 11.2169 45.2948C11.2202 45.2954 11.2237 45.2957 11.2269 45.2963C11.251 45.3009 11.2752 45.3048 11.2999 45.3072C11.3005 45.3072 11.3009 45.3074 11.3015 45.3075C11.3287 45.3101 11.3557 45.3115 11.3825 45.3115C11.3828 45.3115 11.3833 45.3114 11.3837 45.3114H15.079C15.4871 48.4234 18.1395 50.8337 21.343 50.8337C24.5464 50.8337 27.1987 48.4234 27.6068 45.3114H40.9212C41.3294 48.4234 43.9817 50.8337 47.1851 50.8337C50.3885 50.8337 53.0411 48.4234 53.4492 45.3114H57.1454C57.146 45.3114 57.1466 45.3115 57.1472 45.3115C57.1749 45.3115 57.2021 45.3098 57.2291 45.3071C57.234 45.3067 57.2386 45.3057 57.2435 45.3051C57.2651 45.3026 57.2865 45.2996 57.3076 45.2953C57.3166 45.2935 57.3254 45.2911 57.3344 45.289C57.3506 45.2852 57.367 45.2812 57.3829 45.2764C57.3938 45.2732 57.4043 45.2694 57.4149 45.2657C57.4285 45.261 57.4422 45.2561 57.4555 45.2507C57.4671 45.2461 57.478 45.2411 57.4892 45.2361C57.5014 45.2304 57.5135 45.2246 57.5254 45.2185C57.5367 45.2127 57.5475 45.2067 57.5584 45.2005C57.5698 45.1938 57.5811 45.1869 57.5922 45.1798C57.6026 45.1731 57.613 45.1663 57.623 45.1592C57.6343 45.1513 57.645 45.1429 57.656 45.1345C57.6651 45.1272 57.6742 45.1201 57.6831 45.1125C57.6945 45.1028 57.7052 45.0927 57.7161 45.0824C57.7236 45.0751 57.7315 45.068 57.7388 45.0604C57.7503 45.0486 57.7612 45.0361 57.7722 45.0236C57.7781 45.0168 57.7841 45.0102 57.7898 45.0033C57.802 44.9882 57.813 44.9726 57.8241 44.9569C57.8279 44.9514 57.8321 44.9463 57.8357 44.9407C57.8492 44.9204 57.862 44.8994 57.8737 44.8778C57.8746 44.8765 57.8755 44.8753 57.876 44.8738C57.8885 44.8507 57.9 44.827 57.9103 44.8025C57.9132 44.7955 57.9154 44.7882 57.9182 44.7812C57.9249 44.764 57.9316 44.7467 57.9372 44.7288C57.9409 44.7172 57.9435 44.7053 57.9467 44.6936C57.9504 44.6797 57.9543 44.6659 57.9574 44.6517C57.9601 44.6391 57.9619 44.6262 57.964 44.6134C57.9659 44.6022 57.9683 44.5912 57.9698 44.5797C58.005 44.296 58.655 39.0503 58.9453 35.6583C58.9456 35.655 58.9457 35.6517 58.946 35.6485C59.0296 34.6707 59.0832 33.8473 59.0832 33.3432C59.0832 27.358 54.2424 22.4885 48.2921 22.4885ZM44.5799 24.1587H47.9758L47.5421 29.1681H44.1461L44.5799 24.1587ZM21.3432 49.1636C18.7736 49.1636 16.6832 47.0608 16.6832 44.4762C16.6832 41.8915 18.7738 39.7887 21.3432 39.7887C23.9127 39.7887 26.0032 41.8915 26.0032 44.4762C26.0032 47.0608 23.9127 49.1636 21.3432 49.1636ZM47.1851 49.1636C44.6156 49.1636 42.5253 47.0608 42.5253 44.4762C42.5253 41.8915 44.6157 39.7887 47.1851 39.7887C49.7547 39.7887 51.8452 41.8915 51.8452 44.4762C51.8452 47.0608 49.7547 49.1636 47.1851 49.1636ZM56.412 43.6409H53.4495C53.0415 40.5286 50.389 38.1182 47.1853 38.1182C43.9819 38.1182 41.3294 40.5287 40.9214 43.6409H27.6072C27.1992 40.5286 24.5468 38.1182 21.3432 38.1182C18.1397 38.1182 15.4871 40.5287 15.0791 43.6409H12.2962L12.9934 36.404H42.7585V36.4044C42.7589 36.4044 42.7592 36.4044 42.7597 36.4044C42.7875 36.4044 42.815 36.4029 42.8422 36.4001C42.8473 36.3996 42.8523 36.3985 42.8574 36.3978C42.8791 36.3953 42.9007 36.3922 42.9219 36.3879C42.9311 36.386 42.9401 36.3835 42.9492 36.3813C42.9658 36.3772 42.9824 36.3734 42.9985 36.3685C43.0096 36.3651 43.0201 36.3611 43.0308 36.3573C43.0448 36.3524 43.0587 36.3476 43.0722 36.3421C43.0839 36.3373 43.095 36.3319 43.1063 36.3266C43.1186 36.3209 43.1309 36.3152 43.1427 36.309C43.154 36.303 43.1651 36.2965 43.1763 36.2901C43.1877 36.2834 43.199 36.2766 43.21 36.2695C43.2208 36.2625 43.2309 36.2551 43.2412 36.2478C43.2522 36.24 43.2628 36.232 43.2734 36.2236C43.283 36.2159 43.2924 36.208 43.3017 36.1999C43.3122 36.1908 43.3225 36.1814 43.3324 36.1717C43.3408 36.1636 43.3493 36.1553 43.3574 36.1467C43.3674 36.1362 43.377 36.1254 43.3866 36.1144C43.394 36.1057 43.4013 36.097 43.4084 36.0881C43.4175 36.0764 43.4263 36.0644 43.4349 36.0523C43.4414 36.0431 43.4478 36.034 43.454 36.0247C43.462 36.0121 43.4698 35.9992 43.4772 35.986C43.4828 35.9762 43.4886 35.9664 43.4937 35.9564C43.5007 35.9433 43.5066 35.9299 43.5129 35.9165C43.5178 35.9057 43.5228 35.8951 43.5272 35.8839C43.5326 35.8708 43.5372 35.8573 43.5419 35.8439C43.546 35.832 43.5504 35.82 43.554 35.8078C43.5577 35.7949 43.5606 35.7816 43.564 35.7685C43.5672 35.7552 43.5707 35.7421 43.5733 35.7286C43.5758 35.7155 43.5774 35.7021 43.5794 35.6888C43.5813 35.675 43.5837 35.6614 43.585 35.6474C43.5852 35.6454 43.5857 35.6435 43.5858 35.6415L44.0018 30.8376H48.2919C50.8352 30.8376 51.9822 32.1631 53.1965 33.5665C54.1984 34.7244 55.317 36.0164 57.2185 36.3316C56.977 38.9 56.5866 42.1971 56.412 43.6409ZM57.3604 34.6583C56.1269 34.4054 55.3679 33.5331 54.4485 32.4706C53.2987 31.1418 51.895 29.5203 49.2041 29.2182L49.6335 24.2587C54.0345 24.9134 57.423 28.7373 57.423 33.3434C57.423 33.6563 57.3998 34.111 57.3604 34.6583Z"
                        fill="#121212" stroke="#121212" stroke-width="0.3"></path>
                    <path
                        d="M18.7998 44.4756C18.7998 43.0608 19.9441 41.9141 21.3434 41.9141C22.7427 41.9141 23.8871 43.0609 23.8871 44.4756C23.8871 45.8905 22.7427 47.0372 21.3434 47.0372C19.9441 47.0372 18.7998 45.8905 18.7998 44.4756ZM19.46 44.4756C19.46 45.5164 20.3016 46.3673 21.3434 46.3673C22.3851 46.3673 23.2269 45.5164 23.2269 44.4756C23.2269 43.4349 22.3852 42.584 21.3434 42.584C20.3016 42.584 19.46 43.4349 19.46 44.4756Z"
                        fill="#121212" stroke="#121212"></path>
                    <path
                        d="M44.6421 44.4756C44.6421 43.0608 45.7864 41.9141 47.1857 41.9141C48.585 41.9141 49.7293 43.0609 49.7293 44.4756C49.7293 45.8905 48.585 47.0372 47.1857 47.0372C45.7864 47.0372 44.6421 45.8905 44.6421 44.4756ZM45.3023 44.4756C45.3023 45.5164 46.1439 46.3673 47.1857 46.3673C48.2275 46.3673 49.0692 45.5164 49.0692 44.4756C49.0692 43.4349 48.2275 42.584 47.1857 42.584C46.1439 42.584 45.3023 43.4349 45.3023 44.4756Z"
                        fill="#121212" stroke="#121212"></path>
                    <path
                        d="M10.2749 22.4883H6.2168C5.75826 22.4883 5.38672 22.8621 5.38672 23.3233C5.38672 23.7844 5.75826 24.1582 6.2168 24.1582H10.2749C10.7334 24.1582 11.105 23.7844 11.105 23.3233C11.105 22.8621 10.7334 22.4883 10.2749 22.4883Z"
                        fill="#121212" stroke="#121212" stroke-width="0.3"></path>
                </svg>
                <div class="text-header-service">Shipping worldwide</div>
                <div class="text-sub-service">
                    We ship our products worldwilde, making them accessible to customers everywhere.
                </div>
            </div>
        </div>


    </div>

    <%- include('Footer') %>



    <script>
        const $ = document.querySelector.bind(document)
        const $$ = document.querySelectorAll.bind(document)
        const contentMainImgTop = $(".wrapper-content-top");
        const contentMainImgBottom = $(".wrapper-content-bottom");
        window.onload = function () {

            contentMainImgTop.classList.add("show");
            contentMainImgBottom.classList.add("show");
        };



        const listMenuMainImg = $$('.control-nav-main-img a')




        listMenuMainImg.forEach((mainImg, index) => {
            // const page = listPage[index]

            mainImg.onclick = function () {

                $('.control-nav-main-img a.flex-active').classList.remove("flex-active")


                console.log(index);
                const mainImage = $('.main-img .img')
                contentMainImgTop.classList.remove("show");
                contentMainImgBottom.classList.remove("show");
                mainImage.classList.remove("active");
                switch (index) {
                    case 0:

                        mainImage.src = "/assetsHomePage/Slider-1.webp";
                        break;
                    case 1:
                        mainImage.src = "/assetsHomePage/Slider2.webp";
                        break;
                    case 2:
                        mainImage.src = "/assetsHomePage/Slider3.webp";
                        break;

                    default:
                        mainImage.src = "/assetsHomePage/Slider-1.webp";
                }
                setTimeout(function () {

                    contentMainImgTop.classList.add("show");
                    contentMainImgBottom.classList.add("show");
                    mainImage.classList.add("active");
                }, 400);

                this.classList.add("flex-active");
                console.log(this)
            }
        });

    </script>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>