<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">News</a>
        <a href="/search">Search</a>

    </div>

    <h1>List of users</h1>

    <div>
        <table>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
                <td>Cam Ranh</td>
                <td>
                    <button>Edit</button>
                    <button>Delete</button>
                </td>
            </tr>
            <% for(let i=0 ; i<listUsers.length;i++) { %>

                <tr>
                    <td>
                        <%= JSON.stringify(listUsers[i].id) %>
                    </td>
                    <td>
                        <%= JSON.stringify(listUsers[i].email) %>
                    </td>
                    <td>
                        <%= JSON.stringify(listUsers[i].name) %>
                    </td>
                    <td>
                        <%= JSON.stringify(listUsers[i].city) %>
                    </td>
                    <td>
                        <form action="/delete/<%= listUsers[i].id%>" method="post" target="_blank">
                            <a href="/update/<%= listUsers[i].id %>">Edit</a>
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
                <% } %>

        </table>

    </div>

    <!-- <div class="form-add-user">
        <form action="/create-user" method="POST">
            <fieldset>
                <legend> Add new user </legend>
                <div class="input-group">
                    <label>Email: </label>
                    <input type="text" name="email" />
                </div>

                <div class="input-group">
                    <label>Name: </label>
                    <input type="text" name="name" />
                </div>
                <div class="input-group">
                    <label>City: </label>
                    <input type="text" name="city" />
                </div>

                <div>
                    <button class="button"> save </button>
                </div>
            </fieldset>
        </form>
    </div> -->




    <!-- <form action="/action_page.php">
        <fieldset>
            <legend>Personalia:</legend>
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>
            <label for="birthday">Birthday:</label>
            <input type="date" id="birthday" name="birthday"><br><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form> -->
</body>

</html>