<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assetsListOrderAdmin/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .order_element:hover{
            cursor: pointer;
        }
    </style>
</head>

<body>
    <%- include('SideBarAdmin') -%>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ORDER ID</th>
                    <th scope="col">CUSTOMER</th>
                    <th scope="col">DATE</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">TOTAL</th>

                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < orderList.length; i++) { %>
                    <tr class="order_element" data-custom-value="<%= orderList[i]._id %>">                        
                            <td>
                                <%= orderList[i]._id %>
                            </td>
                            <td><%= orderList[i].fullname %></td>
                            <td><%= orderList[i].date %></td>
                            <td class="status text-center">
                                <div class="text <%= orderList[i].status.toLowerCase() %>">
                                    <%= orderList[i].status %>
                                </div>
                            </td>
                            <td>$<%= orderList[i].total %></td>
                        
                    </tr>
                    <% } %>
                
            </tbody>
        </table>

    </div>

    <script>
        const orders = document.querySelectorAll(".order_element");
        orders.forEach((element) => {
            element.addEventListener("click", function(){
                window.location.href = "/admin/order/" + element.dataset.customValue;
            })
        })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>