<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Account List</title>
    <link rel="stylesheet" href="\assets\styleViewAccountList.css">
    <link rel="stylesheet" href="/css/pagination.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Google chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <%- include('SideBarAdmin') -%>
        <div class="page-view-account-list">

            <div class="main--content">
                <div class="header--wrapper">
                    <div class="header--title">
                        <span>Primary</span>

                        <h2>View Account List</h2>
                    </div>
                    <div class="user--infor">
                        <div class="search--box">
                            <i class="fa-solid fa-search"></i>
                            <input type="text" id="search-information" placeholder="Search">
                        </div>
                        <select class="form-select" id="search_selection" aria-label="search User">
                            <option selected>Search by</option>
                            <option value="fullname">Full Name</option>
                            <option value="email">Email</option>

                        </select>


                    </div>
                    <%- include('SortAccount') -%>
                        <img src="\assets\img.jpg" alt="">
                </div>
                <div class="list-account-container">
                    <h3 class="main--title">List Account</h3>


                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Country</th>
                                    <th>Ban</th>

                                </tr>
                            <tbody id="list-account">

                                <% for(let i=0; i < accountList.docs.length; i++) { %>
                                    <tr onclick="loadDetailUser('<%= accountList.docs[i]._id %>')">
                                        <td>
                                            <%= accountList.docs[i].fullname %>
                                        </td>
                                        <td>
                                            <%= accountList.docs[i].email %>
                                        </td>
                                        <td>
                                            <%= accountList.docs[i].phoneNumber %>
                                        </td>
                                        <td>
                                            <%= accountList.docs[i].country %>
                                        </td>
                                        <td>
                                            <%= accountList.docs[i].ban %>
                                        </td>
                                    </tr>
                                    <% } %>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">

                                    </td>
                                </tr>
                            </tfoot>
                            </thead>
                        </table>
                    </div>
                    <div id="pagination-container"></div>
                </div>
            </div>

        </div>

        <script>
            var account = document.querySelector(".table-container");
            function loadDetailUser(userID) {
                // window.location.href = "/admin/accountdetail";
                window.location.href = `/admin/accountlist/${userID}`;
            }
            const listAccount = document.querySelector("#list-account");
            async function loadAccountHtml(page) {
                const curUrl = new URL(window.location.href);
                const urlObjectPath = curUrl.pathname;
                const pathPaging = "/paging"
                curUrl.pathname = urlObjectPath + pathPaging;

                if (curUrl.searchParams.has('page')) {
                    curUrl.searchParams.set('page', page);
                } else {
                    curUrl.searchParams.append('page', page);
                }
                console.log(page)
                console.log(curUrl.pathname);
                await fetch(curUrl)
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then((data) => {
                        return data.accountList;

                    })
                    .then(function (data) {
                        let htmlContent = "";
                        console.log(data)
                        data.docs.forEach(element => {
                            const trimmedId = element._id.trim();
                            const validObjectId = trimmedId.replace(/\s/g, '');
                            htmlContent +=
                                `<tr onclick="loadDetailUser('${validObjectId}')">
                                        <td>
                                           ${element.fullname}
                                        </td>
                                        <td>
                                            ${element.email}
                                        </td>
                                        <td>
                                            ${element.phoneNumber}
                                        </td>
                                        <td>
                                            ${element.country}
                                        </td>
                                        <td>
                                            ${element.ban}
                                        </td>
                                    </tr>`;
                        });
                        listAccount.innerHTML = htmlContent;

                    }
                    )
            }
            // handle sort accounts

            const curUrl = new URL(window.location.href);
            document.addEventListener('DOMContentLoaded', async function () {

                let totalPages = 10;
                let currentPage = 1;



                const urlObjectPath = curUrl.pathname;
                const pathPaging = "/paging"

                curUrl.pathname = urlObjectPath + pathPaging;

                console.log(curUrl)
                await fetch(curUrl)
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then((data) => {

                        totalPages = data.accountList.totalPages;
                        return data;

                    })

                // Function to generate pagination HTML
                function generatePagination() {
                    const paginationContainer = document.getElementById('pagination-container');
                    paginationContainer.innerHTML = ''; // Clear previous content


                    for (let i = 1; i <= totalPages; i++) {

                        const paginationItem = document.createElement('li');
                        paginationItem.textContent = i;
                        paginationItem.className = 'pagination-item';
                        paginationItem.dataset.value = i;

                        // Add active class to the current page
                        if (i === currentPage) {

                            paginationItem.classList.add('active');
                        }

                        // Add click event listener to each pagination item
                        paginationItem.addEventListener('click', function () {
                            currentPage = i;

                            loadAccountHtml(i);
                            generatePagination(); // Re-generate pagination on click
                        });

                        paginationContainer.appendChild(paginationItem);

                    }
                }
                // Initial generation of pagination
                generatePagination();

            })

            //handle choose method search
            const searchInfo = document.querySelector("#search-information");
            const searchBtn = document.querySelector(".fa-search")
            const searchSelection = document.getElementById("search_selection");
            let curUrl1 = new URL(window.location.href);
            searchSelection.addEventListener("change", async function () {

                let searchSelectedValue = searchSelection.value;


                if (searchSelection.value == "fullname") {
                    if (curUrl1.searchParams.has('fullname')) {
                        curUrl1.searchParams.set('fullname', searchInfo.value);
                    }
                    else {
                        curUrl1.searchParams.append('fullname', searchInfo.value);
                    }
                    if (curUrl1.searchParams.has('email')) {
                        curUrl1.searchParams.delete('email');
                    }
                } else {
                    console.log('haha')
                    if (curUrl1.searchParams.has('email')) {
                        curUrl1.searchParams.set('email', searchInfo.value);
                    }
                    else {
                        curUrl1.searchParams.append('email', searchInfo.value);
                    }
                    if (curUrl1.searchParams.has('fullname')) {
                        curUrl1.searchParams.delete('fullname');
                    }

                }
                console.log(curUrl1.toString())


            })


            searchBtn.addEventListener("click", async function () {

                if (curUrl1.searchParams.has('email')) {
                    console.log('haha1')
                    curUrl1.searchParams.set('email', searchInfo.value);
                }
                else {
                    console.log('haha2')
                    curUrl1.searchParams.set('fullname', searchInfo.value);
                }
                window.location.href = curUrl1.toString();

            })
        </script>
</body>

</html>``