<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account detail</title>
    <link rel="stylesheet" href="\assets\styleIndex.css">
    <link rel="stylesheet" href="/alert.css">
    <link rel="stylesheet" href="\assets\styleViewAccountList.css">
    <link rel="stylesheet" href="\assets\styleViewDetailAccount.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Google chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <div class="alert alert-success  text-center align-items-center">

    </div>
    <div class="alert alert-danger  text-center align-items-center">

    </div>
    <%- include('SideBarAdmin') -%>
        <div class="page-view-detail-account">
            <div class="main--content">
                <div class="header--wrapper">
                    <div class="header--title">
                        <span>Primary</span>
                        <h2>information User</h2>
                    </div>
                    <div class="user--infor">
                        <div class="search--box">
                            <i class="fa-solid fa-search"></i>
                            <input type="text" placeholder="Search detail account">
                        </div>


                    </div>



                </div>
                <div class="information-account-container">
                    <h3 class="main--title">User information</h3>
                    <div class="profile-account">
                        <div class="img-account">
                            <img class="img-detail" src="/assets/face-2.jpg" alt="">
                        </div>
                        <div class="information-account">
                            <div class="name-account">name: <%= user.fullname %>
                            </div>
                            <div class="email-account">
                                <i class="fa-solid fa-envelope"></i>
                                <span>
                                    <%= user.email %>
                                </span>
                            </div>
                            <div class="phone-account">
                                <i class="fa-solid fa-phone"></i>
                                <span>
                                    <%= user.phoneNumber %>
                                </span>
                            </div>
                            <div class="address-account">
                                <i class="fa-solid fa-location-dot"></i>
                                <span>
                                    <%= user.country %>
                                </span>
                            </div>



                        </div>
                        <div class="information-expenditure-account">
                            <div class="rank-account golden">Rank: golden</div>
                            <div class="money-account">

                                <span>DoB: <%= user.dateOfBirth %></span>
                            </div>
                            <div class="voucher-account">

                                <span>Lastest access: <%= user.lastestAccess %></span>
                            </div>
                            <div class="favourite-account">

                                <span>Cart: <%= user.cart.length %></span>
                            </div>

                        </div>
                        <div class="wrapper-control-access-account">

                            <button class="ban-account" id="ban-account"
                                onclick="banAccount('<%= encodeURIComponent(user._id) %>')">Ban
                                Account</button>

                            <button class="unban-account" id="unban-account"
                                onclick="unbanAccount('<%= encodeURIComponent(user._id) %>')">Unban Account</button>
                        </div>
                    </div>


                </div>
                <!-- <div class="wrapper-activities-expenditure-account">
                    <div class="expenditure-account-container">
                        <h3 class="main--title">Expenditure User</h3>


                        <div class="graph-box">

                            <div class="chart-categories-account">
                                <div id="user_chart"></div>
                            </div>

                        </div>

                    </div>
                    <div class="activities-month-account-container">
                        <h3 class="main--title">Activities</h3>
                        <div class="wrapper-activities-account">
                            <div class="cart-shopping-account">
                                <i class="fa-solid fa-cart-shopping icon"></i>
                                <div class="num-order-account">5 orders</div>
                            </div>


                            <div class="visit-shopping-account">
                                <i class="fa-regular fa-eye icon"></i>
                                <div class="num-visit-account">34 visits</div>
                            </div>

                        </div>


                    </div>
                </div> -->

            </div>

        </div>
        <script>
            const $ = document.querySelector.bind(document)
            const $$ = document.querySelectorAll.bind(document)



            function banAccount(id) {
                const apiUrl = `/admin/accountlist/${id}/ban`;

                const formData = {

                    'ban': true,

                };
                console.log(formData)
                // Make a fetch request
                fetch(apiUrl, {
                    method: "PATCH", // HTTP method
                    body: JSON.stringify(formData),
                    headers: {
                        'Content-type': 'application/json; charset=UTF-8',
                    },
                    // You may include a request body if needed
                    // body: JSON.stringify({ /* your request body data */ }),
                })
                    .then(response => {
                        // Check if the request was successful (status code 2xx)
                        if (response.ok) {
                            return response.json(); // Parse the response body as JSON
                        } else {
                            throw new Error(`Error: ${response.status} - ${response.statusText}`);
                        }
                    })
                    .then(data => {
                        // Handle the successful response data
                        console.log("Success:", data);
                        const alertReview = $('.alert-success')
                        alertReview.style.opacity = "1";
                        alertReview.style.display = "block"
                        console.log(alertReview)
                        alertReview.innerHTML = `${data.message}`
                        setTimeout(function () {
                            alertReview.style.opacity = "0";
                            setTimeout(function () {
                                alertReview.style.display = "none";
                            }, 500);
                        }, 3000);
                    })
                    .catch(error => {
                        // Handle errors
                        const alertReview = $('.alert-danger')
                        alertReview.style.opacity = "1";
                        alertReview.style.display = "block"
                        alertReview.innerHTML = `cannot change state this account`
                        setTimeout(function () {
                            alertReview.style.opacity = "0";
                            setTimeout(function () {
                                alertReview.style.display = "none";
                            }, 500);
                        }, 3000);
                       
                    });
            }

            function unbanAccount(id) {
                const apiUrl = `/admin/accountlist/${id}/ban`;

                const formData = {

                    'ban': false,

                };
                console.log(formData)
                // Make a fetch request
                fetch(apiUrl, {
                    method: "PATCH", // HTTP method
                    body: JSON.stringify(formData),
                    headers: {
                        'Content-type': 'application/json; charset=UTF-8',
                    },
                    // You may include a request body if needed
                    // body: JSON.stringify({ /* your request body data */ }),
                })
                    .then(response => {
                        // Check if the request was successful (status code 2xx)
                        if (response.ok) {
                            return response.json(); // Parse the response body as JSON
                        } else {
                            throw new Error(`Error: ${response.status} - ${response.statusText}`);
                        }
                    })
                    .then(data => {
                        // Handle the successful response data
                        console.log("Success:", data);
                        const alertReview = $('.alert-success')
                        alertReview.style.opacity = "1";
                        alertReview.style.display = "block"
                        alertReview.innerHTML = `${data.message}`
                        setTimeout(function () {
                            alertReview.style.opacity = "0";
                            setTimeout(function () {
                                alertReview.style.display = "none";
                            }, 500);
                        }, 3000);
                    })
                    .catch(error => {
                        // Handle errors
                        const alertReview = $('.alert-danger')
                        alertReview.style.opacity = "1";
                        alertReview.style.display = "block"
                        alertReview.innerHTML = `cannot change state this account`
                        setTimeout(function () {
                            alertReview.style.opacity = "0";
                            setTimeout(function () {
                                alertReview.style.display = "none";
                            }, 500);
                        }, 3000);
                        console.error("Error:", error.message);
                    });
            }

        </script>
</body>

</html>